[2019-08-09 19:08] panva commented on #179
The point being? Node is the future LTS release, gets the same cadence of security fixes as other LTS/maintenance branches and is a stable release.

Whats a couple months I say.

[2019-08-11 07:16] #179 closed

[2019-08-11 07:16] #178 closed

[2019-08-12 13:53] chveragad commented on #178
I understand. Thanks.  I would just remove the codes that I pasted earlier.

[2019-08-12 13:54] panva commented on #178
I can delete the whole issue if that's what you'd rather have.

[2019-08-12 13:56] chveragad commented on #178
Okay please do. thanks

[2019-08-17 11:14] dementeddevil opened #180 "RP that have client_secret fail when sending authorization_code grant in passport strategy"
**Describe the bug**
I have an authentication server with a configured client that has a client secret defined and configured for hybrid-flow. When I use the passport strategy to handle authentication via this library, during the callback handling I have stepped through all the code and found that it never sets up the clientAssertionPayload when it attempts to get a refresh token using the authori

[2019-08-17 11:21] panva commented on #180
Hi @dementeddevil

Unrelated, but this is NOT how you should instantiate new clients.

[code]

This is (as documented)
[code]

`clientAssertionPayload` has nothing to do with the request payload, the defaulted to `client_secret_basic` client authentication method does not set a body but an `Authorization` header.

If your IdP expects client authentication to use the request payload set your `token

[2019-08-17 11:21] #180 closed

[2019-08-21 14:49] Lakshman1996 opened #181 "client 3.3.0 not working in Electron 5.0.0"
Hey @panva

I have an electron 5.0.0 app and there is a node_module which my electron app uses as dependency ( node server ) and i use openid-client inside this node_module. But when i launch my app i get this error.
![Screenshot from 2019-08-21 19-44-28](https://user-images.githubusercontent.com/29203844/63442330-8c319c00-c450-11e9-861d-8da3a6de4fde.png)

I know this error appears when the node v

[2019-08-21 14:53] panva commented on #181
It may be node 12 but its not the right version of V8 underneath, that's why only v6.x electron runtime is [supported](https://github.com/panva/node-openid-client#electron-support).

[2019-08-21 14:53] #181 closed

[2019-08-22 19:01] panva commented on #179
@theogravity I've made @panva/jose compatible with lts/dubnium and released openid-client v3.5.0 that's being tested with Node.js `^10.13.0 || >=12.0.0`

[2019-08-25 20:03] hdt1234 opened #182 "Example"
#37
Hello, I saw an issue about the examples. You've said that this library is not framework bound, thanks btw, but if anyone could provide an example of using this library with google or facebook, it would be perfect for beginners, like me.

Thanks!

[2019-08-25 20:20] panva commented on #182
That’s exactly what the quick start readme section explains.

https://github.com/panva/node-openid-client/blob/master/README.md#quick-start

[2019-08-25 20:20] #182 closed

[2019-08-30 05:16] xperiafan13-rom opened #183 "Passport Strategy not return req.user"
Hi, I use lasted version with nodeJS 12.0

Here is my code:

Endpoints:

[code]

Strategy:
[code]

Config:
[code]

I need get req.user on verify function, how i can get this param?
[code]

[2019-08-30 06:00] panva commented on #183
Please be so kind and edit your description to a readable state first.

[2019-08-31 21:47] xperiafan13-rom commented on #183
Im sorry, I already up this

[2019-08-31 22:13] big-kahuna-burger commented on #183
@xperiafan13-rom You don't **get** it there. You **set** it there for the next middlewares in the chain.
Take the subject and pass it to your db adapter to find matching user.

Like:
[code]

[2019-09-01 01:28] xperiafan13-rom commented on #183
But i need to load req.user on every request, in other strategies like twitter or google (and local) I use this:
[code]
I already add passReqToCallback option to true [(Association in Verify Callback)](http://www.passportjs.org/docs/authorize/)

[2019-09-01 01:44] big-kahuna-burger commented on #183
That is not a issue of this library.
Read passport js docs. Especially the part with `serialize` and `deserialize` user.

[2019-09-01 01:45] xperiafan13-rom commented on #183
I already have this
assport.serializeUser(function (user, done) {
    done(null, user);
});
passport.deserializeUser(function (uid, done) {
    done(null, uid);
});

[2019-09-01 01:59] big-kahuna-burger commented on #183
If you could set up repo with a reproducible example, I might help you.

[2019-09-01 08:40] panva commented on #183
I'm reading http://www.passportjs.org/docs/authorize, i checked the underlying twitter strategy and there's nothing this library isn't doing that twitter would be.

You need to correctly handle building the profile from the tokenset or userinfo response as step one and then adding **`passport.authorize`** call the same way you have probably have it for twitter or google.

You currently apply `pass

[2019-09-01 08:40] #183 closed

[2019-09-05 01:08] theogravity commented on #97
I've opened a PR that adds a comprehensive set of definitions

https://github.com/panva/node-openid-client/pull/184

[2019-09-06 08:48] theogravity opened #185 "Device Flow: access denied issues"
**Describe the bug**

Trying out the device flow. Having access denied issues.

**Possibility #1**

The `handler.poll()` call sends an `Authorization` header that when decoded reads `<client_id>:undefined` (no secret key specified).

I don't think `undefined` is supposed to be part of the value.

**Possibility #2**

If not that, I'm following this guide (were using `Auth0` and followed set-up inst

[2019-09-06 09:00] theogravity commented on #185
Update:

Got it to work, but this issue is still valid:

Just realized I can pass in `exchangeBody`, for the client id, but feels redundant, as I'm doing this:

[code]

[2019-09-06 09:00] panva commented on #185
well you should set your client's [`token_endpoint_auth_method` to `none`](https://github.com/panva/node-openid-client/tree/master/docs#client-authentication-methods) for public clients without a secret

[2019-09-06 09:00] #185 closed

[2019-09-06 09:07] theogravity commented on #185
Ah, thanks!

[2019-09-06 13:26] hughanderson4 opened #186 "npm i"
Can you please begin the Documentation with the npm command to install this?
Or link to your page on npm?

[2019-09-06 13:34] #186 closed

[2019-09-09 03:19] zkhkoku opened #188 "How to add state in auth url"
I find that the`authorizationUrl` method would take the following parameter

[code]

I cannot find a place to pass state to create the auth url, so now I just append state to the string

[code]

Is there a right way to pass state?

[2019-09-09 06:31] panva commented on #188
You should reference docs over incomplete unofficial typings

https://github.com/panva/node-openid-client/blob/master/docs/README.md#clientauthorizationurlparameters

[2019-09-09 06:31] #188 closed

[2019-09-09 07:30] zkhkoku commented on #188
Find the right way to pass in state:

[code]

[2019-09-09 07:34] panva commented on #188
That is not the right way with the upcoming official types being developed in #184, you don't need to pass `as any` in those since `AuthorizationParameters` not only enumerates all known to me today but also `[key: string]: unknown;` making you able to pass in any parameter the way you should according to the official documentation.

[2019-09-09 07:42] zkhkoku commented on #188
The version I use is "@types/openid-client": "^3.1.6".
There is no `[key: string]: unknown` in `AuthorizationParameters` interface

[2019-09-09 07:48] panva commented on #188
I reiterate, once more, **`@types/openid-client` is not official** and any issues you have with it should be directed at its [authors](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/openid-client/index.d.ts).

Once #184 openid-client will bundle its own types and I will ask the authors of the incomplete types to retire it.

[2019-09-09 07:58] zkhkoku commented on #188
OK, I understand now, when the official type of openid-client releases, I will change the code. Thanks for reply!

[2019-09-13 13:47] Tenshock opened #189 "new Strategy raises an error from Typescript transpiler when used in passport.use()"
**Describe the bug**
When I instanciate a new Strategy object in Typescript and I use this object in passport.use(), it raises an error from the typescript transpiler on the `new Strategy` line as follows:

[code]

**To Reproduce**
Issuer and Client configuration:
[code]

Steps to reproduce the behaviour:

1.  Write this code
2.  Try to build it with a transpiler, I use `tsc`
3.  See the same erro

[2019-09-13 14:24] #189 closed

[2019-09-13 19:03] TwistTheNeil opened #190 "Is it possible to disable session for Strategy?"
I'm trying to not use session with the openid connect strategy but I run into the error:

However, I see in the readme that it might be possible to not use session:

I plan on not using cookies so is there an option that I am missing?

Snippets of code:

[code]

[2019-09-13 19:13] panva commented on #190
It is not. Binding the state/nonce and other transaction details is a prerequisite for a csrf protected client.

[2019-09-13 19:13] #190 closed

[2019-09-13 19:15] TwistTheNeil commented on #190
Alright, thanks for the quick response!

[2019-09-16 09:27] Tenshock commented on #189
I'm always impressed by your quick answer and patches, thank you a lot.

[2019-09-19 12:58] danieljee opened #191 "Authorization scope parameter is not space delimited"
**Describe the bug**

The scope parameter is has to be space delimited but the url query generated by calling authorizationUrl is comma delimited.

The scope parameter of the authorization request looks like scope=openid%2Cuma_protection
but it should be scope=openid%20uma_protection.

[RFC 6749 3.3](https://tools.ietf.org/html/rfc6749#section-3.3)

**To Reproduce**
Steps to reproduce the behaviou

[2019-09-19 13:00] panva commented on #191
This is not a bug, you should be passing scope as the space delimited value already, like so.

[code]

[2019-09-19 13:00] #191 closed

[2019-10-04 15:23] Talwynox opened #192 ""OPError: invalid_client" after signin screen when using passport strategy"
Hi, I keep getting

after the signin screen when using this passport strategy.
I already checked the client and clientsecret. (the passport-google-oauth strategy with the same id and secret is working fine)
[code]

[2019-10-04 15:37] panva commented on #192
[code]

this is not valid for the client [constructor](https://github.com/panva/node-openid-client/tree/master/docs#new-clientmetadata-jwks)

[2019-10-04 15:37] #192 closed

[2019-10-05 17:40] mediabuff opened #193 "Bug TypeError: The "original" argument must be of type Function"
Get error on

import {Issuer} from 'openid-client';

***********

TypeError: The "original" argument must be of type Function
promisify

GoogleApi.Tester/GoogleApi.Tester/ClientApp/node_modules/util/util.js:605
602 | var kCustomPromisifiedSymbol = typeof Symbol !== 'undefined' ? Symbol('util.promisify.custom') : undefined;
603 |
604 | exports.promisify = function promisify(original) {

605 | if (t

[2019-10-05 17:51] panva commented on #193
not related to openid-client. Closing.

[2019-10-05 17:51] #193 closed

[2019-10-10 16:55] naveddeshmukh opened #194 "Redirect loop when using passport strategy with hybrid flow"
On Login Callback, the passport.authenticate middleware redirects back to IdP which in turn creates a loop.

I'm currently using openid-client's passport strategy with express js to implement a relying party. The RP needs to authenticate a user and also requires access tokens to make API callbacks.

- Identity Provider : IdentityServer Demo (https://demo.identityserver.io)
- Client : server.hybrid

[2019-10-10 17:08] panva commented on #194
https://github.com/panva/node-openid-client/issues/39#issuecomment-313167274

[2019-10-10 17:08] #194 closed

[2019-10-14 15:24] dobby5 opened #195 "Redirect Loop"
Hello,

after every successful login I will be redirected to /home as usual. However, when I try to retrieve /profile I will be redirected back to /home.

can someone please help me?

(Sorry the code is not beautifully written. ;))

[code]

[2019-10-14 15:37] panva commented on #195
@dobby5 that's not a strategy issue, the strategy is for authenticating (and subsequent creating a session), not authorizing access to a resource. The problem is you're forcing /profile to run authentication regardless of what's in your session, which is what you'd use `req.isAuthenticated` for.

All of this is related to [passport](http://www.passportjs.org) in general, not a specific strategy.

[2019-10-14 15:37] #195 closed

[2019-10-15 06:17] nickevansuk opened #196 "RFC7592 - OAuth 2.0 Dynamic Client Registration Management Protocol"
Are there any plans to implement support for [RFC7592 - OAuth 2.0 Dynamic Client Registration Management Protocol](https://tools.ietf.org/html/rfc7592)?

This protocol is currently supported by the complimentary project over at https://github.com/panva/node-oidc-provider/

Can we implement this alongside `Client.register(metadata[, other])` ([RFC7591 - OAuth 2.0 Dynamic Client Registration Protoco

[2019-10-15 07:17] panva commented on #196
Hi @nickevansuk,

I don't have any plans to support this exotic specification in the client library. I did write a [CLI](https://github.com/panva/openid-client-cli) interface for this a while back tho.

[2019-10-15 07:17] #196 closed

[2019-10-15 07:32] nickevansuk commented on #196
Hi @panva, understood. Would accept a PR for it?

Many thanks

[2019-10-15 07:38] panva commented on #196
I don't have plans to support it, at all. A PR would still mean i need to continue maintaining the feature. The protocol is not tied to any OIDC functionality. Its a simple HTTP based protocol that, as seen by the linked CLI interface does not need the rest of the library and you can wrap around it.

[2019-10-15 08:12] nickevansuk commented on #196
That's great, thanks for letting me know. Will see what we can do with the CLI :)

[2019-10-15 09:07] seybsen opened #197 "Is throwing `expected claim "${claim}" in "${sourceName}"` the correct behaviour on missing source?"
An error `expected claim "${claim}" in "${sourceName}"` is thrown if distributed sources do **not** return all claims referenced in `_claim_names`:
https://github.com/panva/node-openid-client/blob/master/lib/client.js#L55

Example:
[code]

when fetching the distributed claims `gender` is missing:

[code]

which then throws `RPError: expected claim "gender" in "55eb6148-9ddf-4f2d-98a6-30cbae6ebbab"

[2019-10-15 09:11] seybsen commented on #197
https://openid.net/specs/openid-connect-core-1_0.html#rfc.section.5.6.2

REQUIRED. OAuth 2.0 resource endpoint from which the associated Claim can be retrieved. The endpoint URL MUST return the Claim as a JWT.

... does this mean the endpoint MUST return the Claim or that the Claim MUST be JWT?

[2019-10-15 09:13] panva commented on #197
https://openid.net/specs/openid-connect-core-1_0.html#AggregatedDistributedClaims

The JWT returned by the resource is the same JWT as for the aggregated claims, for which the following is defined

Its processing is the same, ergo throw if the `_claim_names` point to something that's not there.

Feel free to double check on the OIDC WG mailing list or issue tracker.

[2019-10-15 10:10] big-kahuna-burger commented on #195
@dobby5 Try writing a middleware wrapper around `passport.authenticate` middleware.

[code]

And you can then:
[code]

[2019-10-15 11:24] pawel-kow commented on #197
OMHO throwing an exception is a bit hard, as more graceful handling would be possible.

In case of distributed claims IdP may not know what claims are stored by the claims source, therefore there is no such strict language as with Aggregated Claims.
Anyway I've opened an issue at OIDF: https://bitbucket.org/openid/connect/issues/1117/core-562-behavior-for-distributed-claims

[2019-10-18 05:03] foisonocean opened #199 "Is there a way skip client id check"
Is there a way to skip client id check?

Similar solution in Golang's `go-oidc` library:

https://github.com/coreos/go-oidc/blob/2be1c5b8a260760503f66dc0996e102b683b3ac3/verify.go#L86

[2019-10-18 06:34] panva commented on #199
Hi @foisonocean

The library intentionally only exposes conform behaviours, therefore such an option does not exist.

[2019-10-18 06:34] #199 closed

[2019-10-18 12:52] dobby5 commented on #195
Thank you, but now I get the error:

Error: did not find expected authorization request details in session, req.session["oidc:localhost"] is undefined

[2019-10-18 12:54] panva commented on #195
Your session is not being loaded, or persisted, or both :)

[2019-10-18 12:56] dobby5 commented on #195
So it's the client?
Can I also exclude the server?

[2019-10-18 12:58] big-kahuna-burger commented on #195
@dobby5 You can try this:

[code]

And in the calls, instead of
[code]

do this:

[code]

Let me know if that works.

[2019-10-18 13:00] panva commented on #195
No its your express session mechanism setup.

[2019-10-18 13:34] dobby5 commented on #195
Thanks Hans, but your solution didn't work.

But if it is an express session mechanism setup, why does it work when I open the server locally and the client.
Then I can log in.

I just deactivated the SSL Cert on my remote server (without https) but it doesn't work either.

[2019-10-18 13:36] dobby5 commented on #195
Maybe it helps ;) The code

const express = require('express');
const app = express();
var passport = require('passport');
const mongoose = require('mongoose');
const session = require('express-session');
const { Strategy, Issuer } = require('openid-client');

const MongoStore = require('connect-mongo')(session);

app.use(session({
    resave: true,
    saveUninitialized: true,
    key: 'Test',

[2019-10-18 13:54] big-kahuna-burger commented on #195
@dobby5 I see. So what the PassportJS's docs on `serializeUser` and `deserializeUser` say? :)
I'd expect to see something like...
[code]

[2019-10-18 14:28] dobby5 commented on #195
I try this already. It doesnt work

[2019-10-20 17:10] sawyerh opened #200 "[Question] Updating Passport user session after calling client.refresh()"
Apologies if this is out of scope – feel free to close if so.

I'm using the `passport` strategy provided by `openid-client` and am also trying to implement a method to keep the `access_token` from expiring. My current approach looks something like this:

1. In the Passport `serializeUser` function, we serialize the `access_token`, `expires_at`, and `refresh_token` into the session.
[code]
1. Befo

[2019-10-20 18:37] panva commented on #200
Hi @sawyerh,

definitely out of scope and I’m the last person Earth to give advise on how passport should be used ;)

Maybe more appropriate to ask in passport directly.

[2019-10-20 18:37] #200 closed

[2019-10-24 15:50] panva commented on #197
Reopening based on WG feedback to the issue. Expect a fix in the next release.

[2019-10-24 17:04] #197 closed

[2019-10-31 10:11] MuhammadBilalYar opened #202 "Client Should return Headers returned by Identity Provider"
**Is your feature request related to a problem? Please describe.**
I have a use case where my

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context about the problem here.

[2019-10-31 10:14] MuhammadBilalYar opened #203 "Client Should return Headers returned by Identity Provider (IdP)"
**Is your feature request related to a problem? Please describe.**
I have a use case where IdP returns some additional information in the header. I don't see any support in the existing client where I can read these additional information from headers.

**Describe the solution you'd like**
The client should return all these headers returned by Idp

[2019-10-31 10:15] #202 closed

[2019-10-31 10:19] panva commented on #203
header of ... ? ID Tokens, HTTP responses, ... ? Which requests...

Please be more specific with the interface you're expecting and add way more substance to your request here.

[2019-11-01 21:22] Curtis1011 opened #204 "Invalid grant_type when requesting for access_tokens"
Hi, I was testing the overall flow of openid with oidc-provider and openid-connect.When I was going through the step by step examples in oidc-provider 00-02, all of them works fine and I am able to get userinfo at the end.However I encountered a problem when I was trying to use the /03-oidc-views-accounts index.js.

I was able to obtain the code from the exchange, but I wasn't able to exchange for

[2019-11-01 21:35] panva commented on #204
It seems you either didn’t follow the OP steps exactly or introduced some OP misconfiguration.

I’m going to go ahead and close this since there’s no openid-client problem to be seen here.

[2019-11-01 21:35] #204 closed

[2019-11-02 17:49] MuhammadBilalYar commented on #203
YES really

YES, the header of HTTP request, suppose userinfo endpoint, where we don't have access to HTTP response headar, Client is only parsing HTTP response body.

[Type] What if we simply add header like below in UserinfoResponse, IntrospectionResponse
`headers?: {
    [key: string]: unknown;
  };`

What you think?

[2019-11-02 18:27] panva commented on #203
Based on? What is the use case?

I think this is a bad proposal, its mixing two different sources of data.

I think it would be possible to enrich the returned objects with a symbol reachable property that isn't serializable but that can't consistently be done for all methods, neither on the Client nor the Issuer.

Another way would be to expose a method like "getLastResponseObject()" on the libra

[2019-11-05 14:22] panva commented on #203
Closing this for now, but i'll keep it in mind for some major API refactor.

[2019-11-05 14:22] #203 closed

[2019-11-06 03:18] alexyeunghk01 opened #205 "Seek for suggestion on how to handle client secret that will expire"
**Is your feature request related to a problem? Please describe.**
Apple signin is using openid standard, but their client secret has maximum 6 months TTL (not sure if follow the standard). So the passport Strategy will fail to work after 6 months.

**Describe the solution you'd like**
Would like to ask if there is any suggestion to handle this issue?

**Additional context**
- https://developer.ap

[2019-11-06 09:40] panva commented on #205
Hi @alexyeunghk01,

what apple uses to **derive the client_secret value from a private key that's generated for you** is NOT standard.

What I'd suggest is to have the secret [derivation code](https://gist.github.com/panva/f02ebf9e4c98014836db6efea5919b80) of your process in which you instantiate the client and make sure to reload your processes at least once every 6 months? (shouldn't be a proble

[2019-11-06 09:40] #205 closed

[2019-11-07 13:46] CarterDawson72 opened #206 "DPoP/Proof of possession question"
Simple question not an issue per si:

I'm using the oidc-provider with the openid-client.

I've seen that oidc-provider allows to have DPoP/Proof of possession enabled, and so I did on the oidc-provider features for the configuration ( dPoP: { enabled: true, iatTolerance: 60, ack: 'id-03' } ) and I can see that now there is a DPoP end point available.

But with the feature enabled on the provider,

[2019-11-07 14:12] panva commented on #206
DPoP Endpoint? There isn't one. What are you seeing?

They are really different projects, not everything supported on the OP is going to end up being prioritized or implemented for the node client.

The client doesn't allow for headers to be passed to the `callback()` method to be sent to the token_endpoint, which is what would trigger dpop.

For the client I only implement final or stable rfcs, s

[2019-11-07 14:12] #206 closed

[2019-11-07 14:19] CarterDawson72 commented on #206
Thanks for the quick answer.

Regarding the DPoP end point, my bad, it was an issue with the express router.

Regarding the request for a DPoP token, thanks for clarifying the issue, and will use your approach.

[2019-11-08 11:17] fcgdam opened #207 "Userinfo request for a client credentials flow"
Hi, sorry if this is a basic question and probably not an issue with the OpenID client, most likely a misunderstanding of my part, anyway:

I'm doing some tests with OAuth and started with the Client Credentials flow. I'm using as the provider the openid-provider node library.

The issue is that I can request a token, introspect a token, but if I request the userinfo, it fails with an exception of

[2019-11-08 11:21] panva commented on #207
@fcgdam

`grant_type=client_credentials` tokens are not access tokens related to an end-user, therefore - they can't be used at the userinfo endpoint to get any claims.

[2019-11-08 11:21] #207 closed

[2019-11-08 11:30] fcgdam commented on #207
Hi, thanks, that was what I was thinking.

[2019-11-11 11:36] som-nitjsr opened #208 "Not able to use strict cookies for Openid connect auth"
**Describe the bug**

I have nodejs server app where i want to use openid connect code flow. using passportjs.
for session i am using  I am using expressSession   with **strict** policy cookies.  MY idp is on different domain so it is not able to pass the nonce for validation.

Note: the app works with cookie as **Lax**.

**To Reproduce**
Issuer and Client configuration: (inline or gist) - Don't f

[2019-11-11 11:43] panva commented on #208
well, `strict` won't work - please read up on what the different `sameSite` options mean to the browser cookie jar. This has nothing to do with the library.

[2019-11-11 11:43] #208 closed

[2019-11-12 08:10] som-nitjsr opened #209 "Reopening https://github.com/panva/node-openid-client/issues/208"
**Describe the bug**

I still believe the issue is in this library only.
In file https://github.com/panva/node-openid-client/blob/master/lib/passport_strategy.js
**at we are using if (!req.session) {
      throw new TypeError('authentication requires session support');
    }**
and we are storing all the nonce variable in session.
req.session[sessionKey] = pick(params, 'nonce', 'state', 'max_age',

[2019-11-12 08:17] panva commented on #209
Removing the binding of nonce, state and other parameters to the browser session goes against every best current practice, i don't see why we'd remove that. Cookies are just needed since there's no other mechanism available to do that binding.

Removing state for code flow makes you csrf vulnerable. Removing nonce for id_token flow does the same.

It is not, by setting your session cookie to `stri

[2019-11-12 08:17] #209 closed

[2019-11-12 08:20] panva commented on #209
Also, do not "re-open" an issue by creating a new one. You can still comment on closed issues.

[2019-11-12 08:20] panva commented on #208
from #209

Removing the binding of nonce, state and other parameters to the browser session goes against every best current practice, i don't see why we'd remove that. Cookies are just needed since there's no other mechanism available to do that binding.

Removing state for code flow makes you csrf vulnerable. Removing nonce for id_token flow does the same.

It is not, by setting your session cook

[2019-11-12 09:31] som-nitjsr commented on #208
Hi want to implement a BBF approch in node js  and use the session cookie as strict.  same was done in .Net https://brockallen.com/2019/01/11/same-site-cookies-asp-net-core-and-external-authentication-providers/.
here .net uses separate lax cookie for maintaing the  nonce etc and after validation use strict cookie for session.
Is there any suggestion how achieve the same using strict session cooki

[2019-11-12 09:38] panva commented on #208
Why don’t you configure your session not to do that? i.e. don’t save an empty session or don’t apply the session middleware for that route?

You can do that too, the strategy is <200 LOC, inline it.

[2019-11-12 09:53] som-nitjsr commented on #208
thanks for the info.
 i have used  this.app.use(session); in middle ware   how i can skipp session for get method /callback root.

[2019-11-17 17:54] macdoor commented on #195
@panva  I've got almost same problem. Do you have a plan to provide a full openid-client + passport + express example?

[2019-11-18 12:00] dobby5 commented on #195
That were really nice

[2019-11-18 13:17] panva commented on #195
@macdoor @dobby5 this issue tracker is not a supplement to actually learning how to use passport.

I can [understand](https://github.com/jaredhanson/passport/issues) why you turn this way but maybe using passport.js isn't the way to go with it not being cared for and explained properly.

[code]

[2019-11-18 15:35] dobby5 commented on #195
okay thx you, i'll think it over when you say it's not the best way about passport.

But you could send me the config from your server. My server seems to be configured wrong. That would be super nice.

[2019-11-18 15:41] panva commented on #195
server configuration has nothing to do with this, the example above executes a regular authorization code flow, the only thing i did there that you'll replace is that i registered a client dynamically where you'll instantiate a Client instance with your id, secret, redirect uri, etc...

[2019-11-18 16:54] dobby5 commented on #195
It was my fault. It all works. Thank you :)

[2019-11-18 17:06] macdoor commented on #195
@panva thank you!

[2019-11-20 11:41] m15ch4 opened #210 "Examples"
Hi guys!

Could you please provide some examples how to use openid-client (especially with Electron).

Thanks.

[2019-11-22 13:18] panva commented on #210
not gonna go ahead and write a full blown sample but inside electron you should be able to incorporate either of the CLI ready examples

- Using code flow https://gist.github.com/panva/429e0c646eb730079fe0a0070c160e1d
- Using device flow https://gist.github.com/panva/ebaacfe433a8677bdbf458f6e1132045

Both dynamically register a client, that's what you'd usually replace with a static client configu

[2019-11-22 17:52] hegelstad commented on #210
I have a problem that is not a problem with your library per se, but I would like to know if you can create an example of how to snapshot the current issuer that would be created with Issuer.discover()? The reason I am asking is that I am trying to incorporate this library as a strategy in NestJS's Passport module, but it doesn't play very well with async calls, so I would just like to quickly ins

[2019-11-22 18:05] panva commented on #210
@hegelstad docs to the rescue

[`issuer.metadata`](https://github.com/panva/node-openid-client/tree/master/docs#issuermetadata) gives you the metadata that was discovered, you can then do [`new Issuer(metadata)`](https://github.com/panva/node-openid-client/tree/master/docs#new-issuermetadata) with that object. Just mind you that you should not be re-using it forever. At some point a re-discovery m

[2019-11-22 18:05] #210 closed

[2019-11-25 15:23] karlTGA opened #211 "Make the grant call for a user with an access_token"
**Is your feature request related to a problem? Please describe.**
I use the openid-client to handle authorization and authentication with keycloak. At this moment I try to check permissions of a user. Usually I can make a post request to the token endpoint with the access token of the user as bearer token. Until now I found no way how to authenticate with an access_token. Instead the client use t

[2019-11-25 15:39] panva commented on #211
Hi @karlTGA

`openid-client` thrives to implement standards, keycloak's bearer token authentication at the `token_endpoint` is not standard. As such it won't satisfy this requirement with an out of the box API support.

That's not to say you are not able to satisfy it. You can for instance use the [HTTP Request Customization](https://github.com/panva/node-openid-client/tree/master/docs#customizing

[2019-11-25 15:39] #211 closed

[2019-11-25 16:38] karlTGA commented on #211
Hi @panva,

thank you for the fast and capable help. That works for me.
I have to admit that I still can't see through what is standard for OpenId and what is not. ^^

[2019-12-04 22:07] Rogger794 opened #212 "Not universal/isomorphic compatible"
**Describe the bug**
It is not universal/isomorphic compatible, that means they can't use the fs module and other non-universal modules (net, http, etc.).

**To Reproduce**
Import generators in page inside nextjs pages
[code]

**Additional context**
Error
./node_modules/got/source/utils/get-body-size.js
Module not found: Can't resolve 'fs' in '/home/rogger/Documentos/oidc-server/node_modules/got/s

[2019-12-04 22:19] panva commented on #212
It’s not intended to be. Please read the docs, the intended runtime is Node.js and Electron

[2019-12-04 22:19] #212 closed

[2019-12-18 22:37] yohanb opened #213 "TypeScript: Extending the Client class throws runtime exception"
**Describe the bug**

When using TypeScript, extending the class `Client` throws on runtime the error:

Seems to be related to a circular dependency issue when searching for similar issues.

**To Reproduce**
Create `extendedClient.ts` with the following content:
[code]

Steps to reproduce the behaviour:

1.  `tsc extendedClient.ts`
2.  `node extendedClient.js`

**Expected behaviour**
Being able to

[2019-12-19 07:13] panva commented on #213
This is not how you get to the Client constructor, the types are wrong it’s not exported. It’s present on an Issuer instance as a property. Please check the docs.

[2019-12-19 07:13] #213 closed

[2019-12-23 13:25] AndTem opened #214 "Scaling error using passport strategy (state mismatch)"
**Description of the problem**
My application is scaled using multiple replicas and the following error appears during authorization:
[code]
Express-session is used to work with sessions.
Reddis is used as storage.

**Session settings**
[code]

**Possible Solution**
Having studied the strategy code, I realized why I get an error:
the **state** of the oidc field is created at the beginning of autho

[2019-12-23 14:03] panva commented on #214
response is not generated, it is received by the process, and it cleans up the session namespace related to the authorization. This is intentional and not a bug.

I don't understand your issue and lack details to help. It could be anything from a bad idp to you e.g. reading from a secondary/slave rather than the primary.

[2019-12-23 14:03] #214 closed

[2019-12-30 11:31] audriuiv opened #215 "RPError: state mismatch after Nodejs restart"
RP: Nodejs, Expressjs, Passportjs
OP: Identity Server 4

When I restart Nodejs app and login, always get error:
[code]
server.js
[code]

I understand, that when Nodejs restarts it gets from generator new state, but Identity Server has old state. If I restart both servers -  it works without errors.
How I  can update  the state into Identity Server, when I restart Nodejs app?

[2019-12-30 11:58] #215 closed

[2019-12-30 12:52] panva commented on #215
State is a per authorization request parameter, not something you set once and forget about it.

[2019-12-30 23:28] audriuiv commented on #215
Thanks, I understood. client.refresh is helped me.

[2020-01-06 16:21] nolaexe opened #217 "next() is not called after redirect when using passport strategy"
**Describe the bug**
Passport.authenticate receives 3 parameters: req, res, and next.
Next is a callback to call the next middleware.
When using the OpenId strategy with passport using openid-client package, the next callback is never called after the redirect, thus never returning and in case running asynchronously the code written after passport.authenticate with openId strategy will be never re

[2020-01-06 16:26] panva commented on #217
You might wanna ask/clarify this in passport itself, not this strategy.

As you can see [here](https://github.com/panva/node-openid-client/blob/master/lib/passport_strategy.js) the code doesn't work with `res` nor `next` and it always either `.success`, `.fail` or `.error` as the passport "framework" wants.

[2020-01-06 16:26] #217 closed

[2020-01-06 16:42] nolaexe commented on #217
Thank you for your quick response.

Next should receive a status regarding if any error occurred in the function.
If next is never called, how can I check for these errors after authenticating with openid strategy?

[2020-01-06 16:45] panva commented on #217
@nolaexe please consult passport, this module is merely implementing the interface passport requires, that's it. I cannot provide any insight or help to passport itself.

[2020-01-07 14:24] rjoaopereira commented on #114
The language of the RFC has a significant impact in this case.

The [spec](https://tools.ietf.org/html/rfc7517#section-4.5) states that it **SHOULD** (not **MUST**) not contain duplicate keys with the same kid.

I have asked this in the [ietf mailing list](https://mailarchive.ietf.org/arch/msg/jose/D1D0lqcTeVF2hw_kKPfClyW4lSM)

Would you please consider making _allowMulti_ configurable? Or better

[2020-01-07 14:30] panva commented on #114
@rjoaopereira

Is this the condition you're running into? because that one should work just fine even without `allowMulti`. Can you provide the JWKS you have an issue with?

[2020-01-07 14:48] rjoaopereira commented on #114
It is not the same case. Both type and id are the same.
[JWKS](https://pastebin.com/zGUAxyZL)
The first and last are the same

[2020-01-07 15:53] panva commented on #114
@rjoaopereira can you try with this branch? https://github.com/panva/node-openid-client/tree/test-multi

[2020-01-07 17:14] rjoaopereira commented on #114
@panva Tested and it works

[2020-01-07 18:31] panva commented on #114
@rjoaopereira see [3.10.1](https://github.com/panva/node-openid-client/releases/tag/v3.10.1)

[2020-01-08 03:59] victorhurdugaci opened #218 "getCurves is not a function when using the library in React"
**Describe the bug**

I'm trying to use this package in a React application.

Unfortunately, I get the following error when importing it:

[code]

**To Reproduce**

Here's a running repro: https://codesandbox.io/s/practical-mendel-dvde5?fontsize=14&hidenavigation=1&theme=dark

It's just a plain react app with the `openid-client` dependency added and one line in `app.js`: `import * as c from "openi

[2020-01-08 06:38] panva commented on #218
Neither the client nor jose is for react. The intended runtime is Node.js. It’s made so from the package description, readme, package engines as well as faq and a number of past issues.

Sorry, you have to look for a browser made client, this ain’t one.

[2020-01-08 06:38] #218 closed

[2020-01-08 13:38] rjoaopereira commented on #114
@panva Thank you very much!

[2020-01-09 15:59] CrowdHailer opened #220 "Support Self-Issued OpenID Provider"
**The problem**

I am trying to use this library for my OAuth services but I would also like my clients to be able to manage their own credentials. They should be able to generate a keypair locally and use that for authentication.
This is part of the OIDC.Core

https://openid.net/specs/openid-connect-core-1_0.html#SelfIssued

**Describe the solution you'd like**
I would like someway to be able to

[2020-01-09 16:48] panva commented on #220
There's more to it than just using the embedded JWK, i had [this](https://github.com/panva/node-openid-client/compare/feat-siop) stashed in my local repo, see if it works for you. All it takes is for the Issuer instance issuer identifier to be the one from the spec `https://self-issued.me`

[2020-01-09 18:44] CrowdHailer commented on #220
Ahh yes I see the comparing the subject with the key fingerprint is a crucial thing to do as well.

That looks like it would work for me, I'll double check tomorrow.
Are their other considerations that stopped you adding it to the library

[2020-01-09 18:48] panva commented on #220
No, just trying to keep the surface in check so that i don't have to maintain stuff that potentially no one uses. I mean in the 3+ years you're the first one bringing SIOP up.

[2020-01-09 18:58] CrowdHailer commented on #220
Makes a lot of sense.
Hopefully what I'm working on will get everyone excited and then it will be used all the time.
It really would make a huge difference to me if that part of the spec was supported in a solid OIDC library.

Anything I can do to reduce the burden. If I take the changes you had made and flesh out some docs and tests would you in principle be interested in adding to the library

[2020-01-10 07:58] panva commented on #220
Aside of mentioning Self-Issued in the readme i don't think there's anything more to do.

[2020-01-10 10:17] #220 closed

[2020-01-11 19:29] MFAshby opened #222 "HTTP PATCH request made to resource server does not have a body"
**Describe the bug**
When making an HTTP PATCH request using the `resource()` method of the `Client` object, the request params are transmitted as query parameters instead of being included in the request body. MSDN guidelines indicate that [POST](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST), [PATCH](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PATCH) and [PUT](http

[2020-01-12 09:58] panva commented on #222
I agree it should be handled, but i'd like to point out that as-is it's not declared as supported, both docs and types declare only GET and POST are supported.

I'm fine with adding more supported http methods but that said we're also only supporting `x-www-form-urlencoded` bodies and that'll likely have to be extended too.

[2020-01-12 21:34] MFAshby commented on #222
Ah thanks for the response. I hadn't noticed that only GET and POST were defined in the types https://github.com/panva/node-openid-client/blob/0ab81fa0fae20533996953dd1a278fe6ebcc93ef/types/index.d.ts#L416

I think it would be valuable to support the full range of HTTP verbs, since some REST APIs make use of all of them.

Regarding the content encoding, I seem to be able to send a JSON payload, an

[2020-01-13 12:06] panva commented on #222
Please see d713512 and come back with feedback. Thank you.

[2020-01-13 16:46] jameskhedley opened #223 "Question: how to support both OIDC and OAuth?"
Hi, thanks for the excellent client which we've used to demo a cloud version of a product we have and would love to use it going forward.

I do have a question though - if it is a requirement to flexibly support both OAuth and OIDC public providers, what is a sensible way to go about it? I realise I can use a different client for OAuth but that would seem to complicate our authentication code.

Am

[2020-01-13 16:54] panva commented on #223
@jameskhedley

Thanks for the kind words. Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library(ies) if it provides value to you or your company.

As far as I know you can use the client with any oauth service and consume any of the pure OAuth responses so long as you use the `oauthCallback` method rather than `callback` one which handles the extra OIDC bi

[2020-01-13 16:54] #223 closed

[2020-01-13 18:54] idasbiste commented on #222
Hello, @panva
I've been working with @MFAshby in the same project. After applying the patch from your commit we have a problem related to one of the project dependencies - `got`.
The problems occurs in the specific case of a 204 No Content response with its body empty and if the `json` option is set to true. In that case we hit https://github.com/sindresorhus/got/blob/v9.6.0/source/as-promise.js#L

[2020-01-13 19:13] panva commented on #222
Yeah, you should be able to pass `json: false`, `form: false` and `body` as `string` or `Buffer` which is already the right serialization.

This is don't follow at all. ^9.6.0 is the only `got` version openid-client depends on, you can't upgrade that because there weren't any more 9.x updates and 10.x would be a breaking dependency update.

Bottom line, tho, i don't want to deal with any of this b

[2020-01-13 19:55] MFAshby commented on #222
This seems reasonable, the only value added when the openid-client library manipulates the body is adding the access token in the correct parameter. I don't think it's worth it for the added complexity.

[2020-01-13 20:03] MFAshby commented on #222
We were hoping that it wasn't a _very_ breaking upgrade, but it was.

[2020-01-18 00:33] FolabiAhn opened #224 "Will this work In Ionic 4 Project ?"
I'm trying to integrate this into Ionic 4 project with no success.
After npm install openid-client and using require with

`const { Issuer } = require("openid-client");`

 I'm getting those errors :

`[ng] ERROR in ./node_modules/got/source/utils/get-body-size.js`
`[ng] Module not found: Error: Can't resolve 'fs' in 'C:\Users\...\node_modules\got\source\utils'`
`[ng] ERROR in ./node_modules/got/so

[2020-01-18 07:00] panva commented on #224
I believe you’ve answered yourself but incase it isn’t clear from the readme, package json engine or description, the intended runtime is Node.js.

https://github.com/panva/node-openid-client/blob/master/README.md#how-do-i-use-it-outside-of-nodejs

[2020-01-18 07:00] #224 closed

[2020-01-18 14:34] panva commented on #222
First pass at this in 0d64dad, i have to deprecate the resource method because it was just too messy to fix it.

One can now pass headers as an object via options, query as part of the first argument which can now be a `URL` instance, body as a buffer or string via options. Return got response `body` is now consistently a Buffer.

[2020-01-22 13:06] MFAshby commented on #222
Thanks @panva , I hope to take a look at this later in the week.

[2020-01-23 13:25] #222 closed

[2020-01-24 23:45] mikejpeters opened #225 "Back-Channel Logout Token Validation"
**Is your feature request related to a problem? Please describe.**
I want my RP to use Back-Channel Logout to end the related user session when the user logs out of the OP or another RP, but no methods are available/documented to validate or parse the logout token.

**Describe the solution you'd like**
A method (e.g. `client.validateLogoutToken(req)`) that can be used to validate a back-channel lo

[2020-01-27 12:51] panva commented on #225
Hi @mikejpeters,

I'm not convinced it is time to be adding this validation just yet... aside from generating the logout uris this library does not yet support logout specs.

You may use my `jose` library to do the generic Logout Token validation with the inputs right out of the client and issuer instances.

[code]

[2020-01-28 16:06] mikejpeters commented on #225
Thanks @panva, that works :)

[2020-01-28 16:06] #225 closed

[2020-02-05 08:12] CrowdHailer commented on #116
Would it be possible to add a link to this specification in the README?
https://openid.net/specs/openid-connect-session-1_0.html#RPLogout

I assumed this feature was not part of the library because it wasn't listed.
Pleased to see it is though

[2020-02-05 08:26] panva commented on #116
@CrowdHailer

![BAF20687-F584-4D93-BF77-477AC67B7C5A](https://user-images.githubusercontent.com/241506/73823958-9cb8b180-47f9-11ea-9858-1c8c3d73af4e.jpeg)

[2020-02-05 08:35] CrowdHailer commented on #116
On this page? https://github.com/panva/node-openid-client/blob/master/README.md
on master?

[2020-02-05 08:38] panva commented on #116
:( messed up, thought this was open on the oidc-provider repo ;)

[2020-02-05 11:21] foray1010 opened #226 "Export jose instance"
**Is your feature request related to a problem? Please describe.**
I am using following version
[code]

As openid-client doesn't support logout token validation by default, I will have to install jose and call `jose.JWT.LogoutToken.verify` manually. This function requires a `key` that I would like to get by `issuer.keystore()`, but the problem is as my jose version is not sync with openid-client o

[2020-02-05 11:24] panva commented on #226
I intentionally don't expose the dependency, i had that before and it was still messy.

If you want to work with the keys returned by keystore in your own code, i suggest you `key.toJWK()` and then `jose.JWK.asKey(jwk)`.

[2020-02-05 11:24] #226 closed

[2020-02-05 11:34] foray1010 commented on #226
I was able to reuse the keystore by `jose.JWKS.asKeyStore(key.toJWKS())`, thank you!

[2020-02-05 11:36] panva commented on #226
That works too.

[2020-02-10 17:08] manuel-di-iorio opened #228 "How to override issuer.metadata.revocation_endpoint"
**Is your feature request related to a problem? Please describe.**
The discovery server I'm connecting to, does not return the revocation endpoint in the metadata but it actually does have one. In order to revoke user tokens I'd like to manually provide the revocation endpoint to the issuer/client but looks like the issuer.metadata object is read-only.

Example code:
[code]

**Describe the solutio

[2020-02-10 17:13] panva commented on #228
[code]

Is that not the clear go to?

[2020-02-10 17:13] #228 closed

[2020-02-10 17:15] manuel-di-iorio commented on #228
Nice solution, ty

[2020-02-13 13:05] ktikku opened #229 "openid-client package throws `invalid IncomingMessage method` error while callback request"
**Describe the bug**

While executing OpenID Connect flow using Azure AD, when we hit /oauth2/v2.0/authorize, after the user enters his credentials, Azure AD sends back a code via callback url.
According to openid-client package, this callback request must be either a GET or a POST request. We're assuming that the callback request can be a non GET or POST request, that can be one of the sources fo

[2020-02-13 13:44] panva commented on #229
The exhibited openid-client behaviour is correct, there's no bug or issue. If you're getting requests other than GET (for default response_mode) or POST (for response_mode=form_post) then investigate why you're getting those requests in the first place.

This throw is a safe guard, letting you know you might be too permissive in your routing.

[2020-02-13 13:44] #229 closed

[2020-02-13 13:47] ktikku commented on #229
we've setup our `response_mode=query` and we're expecting a `GET` request but we're still getting the  `invalid IncomingMessage method` error.

[2020-02-13 13:49] panva commented on #229
@ktikku expecting and getting are two different things, those code says you're getting your code triggered on something else than `GET`.

[2020-02-18 14:01] awegrzyn opened #230 "Restore the state of your application from before authentication"
Hi,
Thanks for a great library.
Could you help me to understand how can I restore the state of the application from before authentication? In OAuth 2.0 flow I was using `state` to save query parameters that user passed initially.
This will not work with your OpenID implementation as I need to provide state checker.

[2020-02-18 14:24] panva commented on #230
Hi @awegrzyn

I don't understand why something "won't work". `state` is a parameter like any other that you can pass in. Your issue lacks details as to HOW you use this library so I cannot help.

[2020-02-18 14:24] #230 closed

[2020-02-21 11:14] svvac opened #231 "JWT Authorized Presenter (azp) validation is too strict"
Currently, JWT validation throws if the authorized presenter (`azp` field) is not equal to the `client_id` ([see here](https://github.com/panva/node-openid-client/blob/master/lib/client.js#L906)).

However, according to [Google's OIDC docs](https://developers.google.com/identity/protocols/OpenIDConnect#obtainuserinfo), it is specifically different from the `aud` (Audience) field if present (emphas

[2020-02-21 11:38] panva commented on #231
These validations aren’t strict, thats how the spec is written. What would you propose gets loosened?

[2020-02-21 13:06] svvac commented on #231
After reading relevant parts of the spec, it appears that the check in question is indeed mandated :

However, this raises the question : if multiple audiences can be provided, how are the others (the ones that are not `azp`) supposed to validate the ID token if the assertion `aud === azp === client_id` must hold?

The spec indeed considers cases where this is not the case, for instance:

This sug

[2020-02-22 11:34] svvac commented on #231
the idea : svvac/node-openid-client@b88a515

[2020-02-22 11:44] panva commented on #231
That won’t fly. That metadata object is only for registered iana parameters and i don’t intend to mix em up with proprietary configuration.

I get the gist tho, when i have the time i’ll take a look at solving this.

[2020-02-22 11:48] svvac commented on #231
I'd like to help, if you have pointers for your preferred way of passing this kind of configuration.

[2020-02-22 13:58] panva commented on #231
I’ll be happy to give you pointers for this when i’m done with my move next week.

[2020-02-25 08:31] panva commented on #231
@svvac

we're looking to add an additional parameter (an object we can add more of these in the future) to these methods

- [constructor](https://github.com/panva/node-openid-client/blob/v3.13.0/lib/client.js#L200) for `new issuer.Client(metadata[, jwks, [other]])`
- [fromUri](https://github.com/panva/node-openid-client/blob/v3.13.0/lib/client.js#L1430) for `issuer.fromUri(uri, token[, jwks, [othe

[2020-02-25 18:08] alvis opened #232 "Missing `register` function signature in `Issuer`"
It only affects typescript users.

Currently, if you create an issuer, typescript would complain if you use the client register function. e.g.
[code]

It's due to the type definition on Issuer that the type definition of Client is not typeof Client. Therefore, all the static methods are missing. See below:

https://github.com/panva/node-openid-client/blob/dd2194e8680af9a9b996a1973618999e1d821f01/t

[2020-02-25 18:46] panva commented on #232
@alvis can you propose a fix to the types? In addition i noticed the types actually suggest that the Client class is exported when it isnt.

[2020-02-25 18:50] panva commented on #232
ping @theogravity who contributed the types in the first place.

[2020-02-25 19:07] theogravity commented on #232
Register is defined here:

https://github.com/panva/node-openid-client/blob/dd2194e8680af9a9b996a1973618999e1d821f01/types/index.d.ts#L456

Did you try specifying the Client as the generic impl?

`const issuer = new Issuer<Client>();`

[2020-02-26 08:07] panva commented on #232
Okay, couple of issues i'd like to see a PR for

1) DeviceFlowHandle is not exported by the library but is in the types
2) Client is not exported by the library but is in the types
3) make sure the Client methods mentioned here are available by default

[2020-02-26 18:28] theogravity commented on #232
1. We actually use the type info from `DeviceFlowHandle` even if it's not exported
2. You still need the typing info for it; we also use it in our project
3. it should already be in there

[2020-02-26 18:37] panva commented on #232
until the following code passes type checks i wouldn't call it "there"

[code]

[code]

I'd expect the following to work to get your typing info. And `DeviceFlowHandle` can easily be an exported interface that `DeviceFlowHandle` implements.

[2020-02-26 18:38] theogravity commented on #232
Right, which is why I said this prob fixes it:

`export class Issuer<TClient extends Client = Client>`

[2020-02-26 18:39] panva commented on #232
It doesn't from what i was able to test.

[2020-02-26 18:39] theogravity commented on #232
I'll take a look

[2020-02-26 18:39] panva commented on #232
Thank you Theo

[2020-02-27 09:56] svvac commented on #231
Was the `authorized_thrid_parties` option name alright? Or maybe you'd prefer camelCase?

[2020-02-27 09:58] panva commented on #231
camelCase for these "extras" is better, the only snake_case present is for IANA registered parameters.

[2020-02-27 10:12] panva commented on #231
And is the boolean value option necessary? To accept all?

[2020-02-27 10:22] svvac commented on #231
It helps validating ID tokens in the case where you can't really know in advance all 3rd-party client IDs that might initiate the OIDC auth flow for logging into your service.

In the case of Google's android app login flow, it can be useful if you wish to be able to roll out new apps without having to redeploy the server component. The responsibility of validating 3rd-party client IDs is thus del

[2020-02-27 10:23] panva commented on #231
I'd prefer to leave the "accept all" option out. All claims need to be validated to be expected values. "anything" isn't really validating.

[2020-02-27 10:43] svvac commented on #231
I see your point, though I'd like to point out that it forces unnecessary coupling between the client configuration and the issuer policy (i.e. is _this_ client allowed to request login for _that_ client)

[2020-02-28 07:56] #231 closed

[2020-02-28 09:49] freegroup opened #235 "Wrong registration on http://www.passportjs.org/packages/"
Your registration on passportjs.org has a wrong manifest.

The github on http://www.passportjs.org/packages/openid-client/ contains wrong url.

git+https://github.com/panva/node-openid-client.git  instead of
git://github.com/panva/node-openid-client.git

This ends with missing README and broken github reference on the web site.

[2020-02-28 10:07] panva commented on #235
The project pulls the repo link from npm based on the package name. It's not doing the transformation correctly.

Other than [this](https://github.com/passport/www.passportjs.org/pull/90) there's not much I can do.

Thanks for raising this.

[2020-02-28 10:07] #235 closed

[2020-02-28 10:25] freegroup opened #236 "URL-Encoded secret/key in `Authorisation` header"
I'm using your lib with our OpenId-Connect server but unfortunately, we have some issues regarding
the `Authorisation: Basic ` header. You encode the `user:password` with url_encode.

In the RFC for the Authorisation, it is mention that the user/password is just base64
https://tools.ietf.org/html/rfc7617 like `base64(user+":"+password)` but in your impl it is `base64(url_encode(user)+":"+url_encod

[2020-02-28 10:37] panva commented on #236
Hi @freegroup

This is correct behaviour, see https://tools.ietf.org/html/rfc6749#section-2.3.1 and the related appendix.

If the AS you're using openid-client with does not process credentials with special characters correctly then you should request them to fix it as per the specification's appendix. If you can't get them to fix client_secret_basic see if you can use client_secret_post instead o

[2020-02-28 10:37] #236 closed

[2020-03-02 10:29] abhinavtcs opened #237 "Did not find expected authorization request details in session."
**Describe the bug**
Did not find expected authorization request details in session.

[code]

**To Reproduce**
[code]

Steps to reproduce the behaviour:

1.  Destroy the session.
2.  Try to Login again or First Time Login

**Expected behaviour**
It should set the token in session and redirected to Home ("/")

**Environment:**
 - openid-client version:  v3.7.3
 - node version: v.10.15.3

**Addition

[2020-03-02 10:43] panva commented on #237
I believe the error says it all, on the initial request that results in redirecting to the issuer's `authorization_endpoint` the strategy set an object to the session's `oidc:federate.xh1.lilly.com` property.

Said object is not there when getting the callback. You should investigate why that's the case.

[2020-03-02 10:43] #237 closed

[2020-03-02 16:13] candu opened #238 "openid-client 3.12.0+: regression in esm compatibility"
**Describe the bug**
When loading latest `openid-client` in a `node` process with `esm`, `Issuer` discovery fails with a `SyntaxError`.

This was observed in `openid-client` v3.12.0, v3.13.0, v3.14.0; v3.11.0 appears to be unaffected.

**To Reproduce**
Issuer and Client configuration: (inline or gist) - Don't forget to redact your secrets.
[code]

Steps to reproduce the behaviour:

1.  `npm instal

[2020-03-02 16:30] panva commented on #238
1) `openid-client` is not an [esm module](https://nodejs.org/api/esm.html), as per the package.json's lack of `"type": "module"`.
2) you're using `esm` package which pre-processes the code somehow to make it into an esm? no clue. An arrow function (`=>`) is available in all supported Node.js runtimes in a number of places throughout the code and 3.12.0 did not introduce anything out of the ordinar

[2020-03-02 16:30] #238 closed

[2020-03-09 14:28] panva commented on #232
Closing this as `stale`, feel free to come up with a PR to unblock this.

[2020-03-09 14:28] #232 closed

[2020-03-09 16:16] patmooney commented on #237
Had similar issue:
Either:
 - Two simultaneous calls by the same browser, a race condition means the first request deletes the cookies before the second finishes
 - Passport doesn't save the server-side session in time before user is returned from auth endpoint. This is due to passport not waiting for session.save() to complete before the redirect.

[2020-03-11 02:08] adon-at-work opened #239 "idToken"
**Describe the bug**

The `callback` function always expect `id_token` to be present (for response_type=code), which is not true, when `openid` was not requested as part of the `scope` in the authorization call.
[code]

**To Reproduce**
[code]

**Expected behaviour**
 inside `async validateIdToken(tokenSet, ...)`,
[code]
be changed to
[code]
I'm proposing a one-liner change as follows. It should N

[2020-03-11 07:30] panva commented on #239
Read the callback’s method docs until the very end ;)

[2020-03-11 07:30] #239 closed

[2020-03-11 18:30] adon-at-work commented on #239
thanks for the quick reply

[2020-03-12 10:59] ruiengana opened #240 "Making client_id optional in Client instance"
**Is your feature request related to a problem? Please describe.**
In a dynamic client registration scenario, we need to use client.requestObject() to sign registration payload, however, we still don't have a client_id assigned from the AS. Client instance requires a client_id to be supplied, this is causing us to be unable to use openid-client for dynamic client registration scenarios.

**Describ

[2020-03-12 11:04] panva commented on #240
You're not creating a Request Object for DCR are you tho. You just want a JWT/JWS. A Request Object has no use at the DCR endpoint.

That is absolutely what you'r expected to do. Use something like https://github.com/panva/jose for that.

[2020-03-12 11:04] #240 closed

[2020-03-12 11:09] ruiengana commented on #240
Thank you quick response.

I do need to create a Request Object (JWS) for a DCR.
See https://openbankinguk.github.io/dcr-docs-pub/v3.3/dynamic-client-registration.html

POST /register
The API allows the TPP to request the ASPSP to register (create) a new client
The TPP submits a JWS payload that describes the characteristics of the client to be created.
If client creation is successful, the ASPSP

[2020-03-12 11:11] panva commented on #240
That is not a [Request Object](https://openid.net/specs/openid-connect-core-1_0.html#JWTRequests), its a generic JWS.

[2020-03-14 20:05] adon-at-work commented on #239
hi @panva,

I'm getting to the bottom of the issue. It turns out that we do actually need the `openid` scope. The access_token exchanged that we later turn into our API servers do need that scope to operate normally.

However, at non-confidential clients, we do not want the the `id_token` to be validated, or it will fail because auth0 does not allow us to control `azp` or multiple `aud`.

For the

[2020-03-14 20:16] panva commented on #239
??? 🤷‍♂

@adon-at-work i try but I really do not get what you're after.

PSA: Please validate your ID Tokens.

[2020-03-14 21:24] adon-at-work commented on #239
Let's not focus on the "PSA" in general. We do not use the id token at the clients, whether it's validated doesn't really matter. We're okay to have id_token dropped if a special boolean parameter is passed in. But if the check is always there, and always throws, that gives us a headache.

To help understand why we're asking to skip id token validation or have it dropped, here's our unique use cas

[2020-03-14 21:44] adon-at-work commented on #239
We thought of falling back to a scope without `openid`, and that turned us to use `oauthCallback()` for the auth code grant flow. But we later figure that dropping `openid` scope is a no-go. Because when the access_token is passed to our resource servers (using the authorization bearer), our resource servers cannot fetch `/userinfo` from auth0 without the `openid` scope.

Okay, so we have no choic

[2020-03-15 10:35] panva commented on #239
Excuse my bluntness, but why are you attempting to use a spec conform piece of software for something, in your own words "crazy". It is not my intention to support every non standard flow that developers come up with and bloat the library surface to maintain on the account of allowing to bend the rules.

As a matter of fact, not throwing when `oauthCallback` encounters an ID Token is something i c

[2020-03-16 02:58] adon-at-work commented on #239
If I were you, it makes a lot of sense to not "support every non standard flow that developers come up with and bloat the library surface to maintain on the account of allowing to bend the rules."

Specifically, I do support `oauthCallback()` to filter `id_token` out, in case someone mistakenly use that instead of the `callback()`, and actually consume the idToken without validating it. More gener

[2020-03-17 22:32] ryzhman opened #241 "Question: client_credentials and forward flow"
I am implementing the OIDC flow for the first time for my app and would like to use your library as a plug and play. But have a few questions related to two flows I am going to implement:

1. `Client_credentials` grant_type based on POST request to `/connect/token` IdP's endpoint.
I can get the auth request working from another HTTP client, but in NodeJS nothing is returned and no logs are present

[2020-03-17 22:39] panva commented on #241
1) use a [method](https://github.com/panva/node-openid-client/tree/v3.14.0/docs#clientgrantbody-extras) for executing arbitrary token endpoint grant calls. `callback()` is for, well, callback based flows.

2) i don't follow.

[2020-03-17 22:39] #241 closed

[2020-03-17 22:40] panva commented on #241
If you found this helpful, please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it turns out to provide value to you or your company. Supporting the library means, amongst other things, that such support will be available in the future.

[2020-03-17 22:45] panva commented on #239
That is just not the case. If you don't want to validate the ID Token then the only option you have is not requesting one, ergo not having the identity layer (OIDC) from a delegation protocol (OAuth 2.0). That much is 100% clear.

You usecase sounds like just being a proxy for a bunch of providers, in which case i'd expect you to write proprietary software that you'll submit to internal security s

[2020-03-17 23:08] adon-at-work commented on #239
@panva Thanks for your time

[2020-03-18 09:48] AbdulHannan96 opened #242 "Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
**Describe the bug**
Getting this warning when I run "npm run build"
./node_modules/got/source/request-as-event-emitter.js 72:18-25
  Critical dependency: require function is used in a way in which dependencies cannot be statically extracted
   @ ./node_modules/got/source/as-promise.js
   @ ./node_modules/got/source/create.js
   @ ./node_modules/got/source/index.js
   @ ./node_modules/openid-clien

[2020-03-18 10:32] panva commented on #242
@AbdulHannan96 I have absolutely zero clue what your `npm run build` script does.

[2020-03-18 10:34] panva commented on #242
If i'm to guess, you're running webpack, in which case - don't apply webpack on dependencies. It's mostly not supported and in the case of the only supported js runtime of this library being Node.js, not necessary.

If you're hoping to transpile this and use it in a browser based app, bad luck, this ain't a package that supports that.

[2020-03-18 10:34] #242 closed

[2020-03-18 14:05] ryzhman commented on #241
@panva thanks for your response. `grant` worked perfectly.
Is there any way to keep the `client_credentials` encapsulated in the `client` instance and avoid manual construction of the body for the `grant` request?

[2020-03-18 14:07] panva commented on #241
You’re just providing the grant type and its required body payload. I don’t feel like there’s need for further encapsulation for these simple grants.

[2020-03-24 15:34] BatBrain opened #244 "Documentation Additions and Clarifications"
- If possible a complete code example of both client and issuer standard flow would be very helpful.

- max_age and a number of other meta fields could use some clarification beyond just the data type it expects. For examples is max_age default in seconds, if its not default, would that be set by the issuer?

- An example for each function with params for each section would also be very helpful. D

[2020-03-24 15:54] panva commented on #244
Quick start in the main readme is included and includes issuer discovery, further examples use the same variable names. I'm not going to include a full example because then i'd have to pick a web framework, session middleware, etc and people just do copy paste programming using what i only show as an example without giving it a further thought. And then users of other frameworks would ask for more

[2020-03-25 22:10] ryzhman commented on #241
@panva One more question regarding obtaining the token set based on the authentication code:
I use the implicit/hybrid flow and after the login, IdP sends back the access and id tokens with authCode (_nonce_ is stored on IdP).
But down the road, I need a refresh token so I do request a new token set via /token in Postman (with client _secret/id, code, grant_type = authorization_code, and original

[2020-03-26 08:48] panva commented on #241
You don't pass the nonce back to the IdP in the callback() call, you assert that the nonce you sent in initially is in the ID Token returned. Please read the callback method's docs. There's a whole argument object for these checks where `nonce` is called out.

[2020-03-26 14:22] #244 closed

[2020-03-31 16:06] kinjalkparmar opened #245 "Sending specific state while calling passport.authenticate"
Hi All,

I am sending a particular state parameter with the authenticate call as below. But that state is changed to a random string. How do I send a specific state and retrieve it after the callback url is called. Basically what I want is, I have couple of parameters based on which I will redirect to different routes. those i am trying to pass as state parameters, but they are changed to some ran

[2020-03-31 16:26] panva commented on #245
@kinjalkparmar

first of all, you're trying to use `state` completely wrong, given the one line of code you provided, you're completely removing its main purpose - CSRF protection.

You can continue doing that IF you also add a random `nonce` parameter to the request (unless your response_type includes `id_token` in which case its done automatically).

Nevertheless, seeing the [latest strategy cod

[2020-03-31 16:26] #245 closed

[2020-03-31 18:56] kinjalkparmar commented on #245
Thanks for the quick reply.

I am using "passport-openidconnect": "0.0.2" and "passport": "^0.4.1". Below is my code. If not the state parameter how does one retrieve the state the user was before the authentication happened.
FYI- I am using okta as AS.
`
const passport = require('passport');
const OidcStrategy = require('passport-openidconnect').Strategy;

app.use(
      session({
        secret:

[2020-03-31 19:05] panva commented on #245
Then you’re in a completely wrong issue tracker.

[2020-03-31 19:36] kinjalkparmar commented on #245
I used a different way of calling  passport.authenticate(as shown below) so I can see the authenticate function.
`const authenticator = passport.authenticate('oidc', { state: JSON.stringify({ tab: 'placement' }) })
    authenticator(req, res, next)`
I have put in a debugger and I can see in my object options-->state = "whatever I put in"(example attached
![img1](https://user-images.githubuserconte

[2020-03-31 19:45] panva commented on #245
You’re opening an issue in a module you’re not actually using. Please take up your issue with your package’s maitainer.

[2020-04-01 12:43] tpimh opened #246 "Message-Level Encryption support"
Message-Level Encryption is required by some OpenID providers. Here is a brief description of [MLE](https://developer.signicat.com/documentation/finnish-trust-network/full-message-level-encryption-for-ftn/). It doesn't seem to be supported by node-openid-client.

If I'm wrong and it really can support it, a simple example would be very appreciated!

[2020-04-01 14:32] panva commented on #246
Signed and/or encrypted ID Tokens and JWT Userinfo responses are fully supported - all algs and encs JOSE has registered. You just have to set the according client metadata and provide jwks the provider will encrypt to.

https://github.com/panva/node-openid-client/blob/master/docs/README.md#new-clientmetadata-jwks-options

[2020-04-01 14:32] #246 closed

[2020-04-07 06:37] EmDee opened #247 "401 response from token endpoint"
### Problem

I am using `Gitlab.com` as oAuth provider. My setup has worked in the past, but in the past month or two I keep getting the following error from the `openid-client`:

[code]

I traced the error back to a `401` response from the token endpoint. However, I'm unsure about the error description which states that I might be missing or sending wrong parameters.

I want to verify that I'm us

[2020-04-07 07:48] panva commented on #247
You could improve your setup by using a random state for every request, PKCE also handles CSRF protection for you but i can't see at first glance that gitlab actually supports pkce. So please, use a random `state` parameter.

Otherwise you're good and you should poke gitlab for an explanation of the error, the client is doing a conform request.

[2020-04-07 07:48] #247 closed

[2020-04-07 09:00] EmDee commented on #247
Thanks for the help.

Here is the related `GitLab` issue as a reference: https://gitlab.com/gitlab-org/gitlab/-/issues/213643

[2020-04-07 09:30] panva commented on #247
A stupid guess, if they for whatever reason started forcing `client_secret_basic` auth in january - try setting your client's `token_endpoint_auth_method` to `client_secret_basic`.

The client uses the standard `client_secret_basic` by default.

[2020-04-07 09:32] panva commented on #247
Also, they mention `includes an unsupported parameter value` and they don't seem to support PKCE, in which case - try not using it and use a random `state` as i said before.

Needless to say, both behaviours are not conform. Every AS must support `client_secret_basic` and all `token_endpoint` implementations must ignore unrecognized parameters.

[2020-04-08 19:40] vdechef opened #248 "token_type received from /token endpoint is case sensitive"
I try to authenticate with **Gluu Server 4.1**, from a Node application using **passeport.js** and **node-openid-client 3.14.2**. My applications works fine with other OP (Auth0 for example), but it refuses to authenticate with Gluu Server.

The error is caused by the `token_type` field returned by Gluu `/token` endpoint : this token_type is set to `bearer` by Gluu, thus the following request to `

[2020-04-08 19:52] panva commented on #248
Gluu responds with a lowecase value and then doesn’t recognize it at its own userinfo endpoint?

Take that plus the fact that it is meant to be a case insensitive string, you should raise this at Gluu as far as i can tell.

[2020-04-08 19:52] #248 closed

[2020-04-08 20:01] panva commented on #248
Furthermore, you can force a certain tokenType to be used right from the existing [userinfo method API](https://github.com/panva/node-openid-client/blob/v3.14.2/docs/README.md#clientuserinfoaccesstoken-options).

[2020-04-08 20:55] nynymike commented on #248
Thanks guys. We'll fix this in the Gluu Server.

[2020-04-08 21:05] panva commented on #248
Thanks Mike 💪

[2020-04-09 07:17] vdechef commented on #248
Wow ! Thanks for the reactivity !

Actually I opened the issue in openid-client project because strictly speaking Gluu follows the RFC specification. The `token_type` field and the `Authorization` header are 2 different things :
- in [RFC 6749 section 4.2.2](https://tools.ietf.org/html/rfc6749#section-4.2.2), the `token_type` field of *Access Token Response* is stated to be case insensitive. This

[2020-04-09 07:33] panva commented on #248
@vdechef

I've been through this topic before. It boils down to https://tools.ietf.org/html/rfc2617#section-1.2 where the auth-scheme is defined as case insensitive.

So there, the client is compliant and as seen by various implementations, servers must be accepting mixed-case values in order to stand a chance of being interoperable. I very much doubt the authors expected client software to match

[2020-04-09 07:40] vdechef commented on #248
@panva

Ok, thanks for the details. I agree that it makes sense to have the OP send the token_type matching the Authorization header. I was just wondering if there was something strange, but it seems like everything is fine.

[2020-04-09 18:19] nynymike commented on #248
If there was a good reason for the OP to be case sensitive, then fine... but this seems like it would be better not to drive people crazy.

[2020-04-11 08:53] verybox0 opened #249 "Yahoo got issue for using "ES256" rather than "RS256" for token validatiion."
in Yahoo discovery url => [https://api.login.yahoo.com/.well-known/openid-configuration](https://api.login.yahoo.com/.well-known/openid-configuration)
it shows it support both "ES256" and "RS256", also, node-openid-client by default will use RS256, however, when yahoo returns, it complaints: **unexpected JWT alg received, expected RS256, got: ES256**

I also changed => **id_token_signed_response_a

[2020-04-11 10:50] panva commented on #249
Please post the id_token you get from yahoo. But its an issue on their end for sure.

[2020-04-11 12:13] panva commented on #249
Yahoo's EC JWK in https://api.login.yahoo.com/openid/v1/certs is invalid, that's why the client can't use it. The client ignores the "import key" error as it should, that's why the error says `no valid key found in issuer's jwks_uri for key parameters`.

[2020-04-11 12:13] #249 closed

[2020-04-11 12:15] panva commented on #249
[code]

[2020-04-11 23:21] verybox0 commented on #249
Thanks for the explanation, very clear and helpful.

I really like this extension.

Cheers

Bin

Filip Skokan <notifications@github.com> 于2020年4月12日周日 上午12:15写道：

[2020-04-22 06:04] tabarra opened #250 "Add error.code for the RPerror classes"
**Is your feature request related to a problem? Please describe.**
I would like to know when an code exchange error could be solved by synchronizing the host clock (90% of the problems my users have), but checking the error for `error.message.startsWith('JWT expired, now')` is a bit too hacky.

**Describe the solution you'd like**
Add the property `code` for the RPerror class with a small, likely

[2020-04-22 08:50] DivisionSi opened #251 "Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
I have updated to the latest version and using:

 **node**: 10.16.1
I am getting the following 2 warnings:
  `Critical dependency: require function is used in a way in which dependencies cannot be statically extracted`
and
`(Emitted value instead of an instance of Error) Cannot find source file '../source/index.ts': Error: Can't resolve '../source/index.ts' in 'C:\Source_imodelSchemaManagementServ

[2020-04-22 09:20] panva commented on #251
@DivisionSi why are you running webpack for a node runtime project?

Duplicate of #242, see https://github.com/panva/node-openid-client/issues/242#issuecomment-600545718

[2020-04-22 09:20] #251 closed

[2020-04-22 09:36] DivisionSi commented on #251
But why is adding it to externals bypassing the warning?

[2020-04-22 11:04] panva commented on #250
@tabarra thanks for the suggestion.

Is it safe to say you want to be able to identify these four specific errors?

[code]

[2020-04-22 12:05] fiznool opened #252 "Safe to reuse Client instance?"
I'm building a system which needs to carry out actions via the Facebook Graph QPI on behalf of a user.

I was planning on reusing a Client instance inside an express route handler, which could be hit by any user. Is this safe, or should I create a new Client instance per request? (By 'safe', I am wondering if instance variables are altered in a Client instance that might affect future requests).

[2020-04-22 12:15] panva commented on #252
there's no state in a Client instance that would change over time, you should use the same instance.

[2020-04-22 12:15] #252 closed

[2020-04-22 20:16] tabarra commented on #250
Would be awesome to have code for all errors, since I would also like to handle timeout errors more gracefully, but those are more "edge cases".
Having an error code (or some other identifier) for those 4 would certainly help me out a lot!

And as always, thanks for the responsiveness @panva!

[2020-04-28 11:28] #250 closed

[2020-04-28 18:57] jwheeler-gs opened #253 "Typescript compile error when parent project using got >= 10"
Typescript projects which have a dependency on the "got" library at major version 10 or newer and also a dependency on "openid-client"@3.15.0 fail to compile.

Openid-client depends on Got version 9. Everything compiles successfully if the parent project is also on Got version 9, but fails on version 10 or newer with the following error:

[code]

I did try adding `@types/got@9` to my project's dev

[2020-04-28 19:05] panva commented on #253
AFAIK openid-client does everything correctly, it requires types from a version it depends on using `@types/got`. If you install a different version on a top level it's typescript's job to recognize the different modules that provide types.

Take it up with `got` or `typescript` directly please.

[2020-04-28 19:05] #253 closed

[2020-04-28 19:08] jwheeler-gs commented on #253
Any chance this project could be upgraded to got version 10 or 11 in the near future? Starting with 10, got is now typescript and no longer needs a `@types/got` dependency.

[2020-04-28 19:10] panva commented on #253
Not without requiring a new major release, which i don't have a good reason for. Yet. And FWIW, the name of the game for next major will be to remove got as a dependency altogether and just rely on Node's `http/https`

[2020-04-28 19:25] jwheeler-gs commented on #253
In case anyone else runs into this same issue, I've created a related issue in the Typescript project:
https://github.com/microsoft/TypeScript/issues/38233

[2020-05-01 04:11] livelo-app opened #254 "Custom Profile Claims for Auth0"
I am currently using Auth0 for user authentication on my NextJS Application. An issue that I am currently dealing with is attempting to get **user_metadata** and **app_metadata** in my user profile. My understanding is that this is a custom claim since it is not a standard OIDC Claim.

I have looked through the docs for openid-client and haven't found any information regarding custom claims and wa

[2020-05-01 04:25] panva commented on #254
This client does not filter claims in any way, what your idp returns is what you’ll get.

[2020-05-01 04:25] #254 closed

[2020-05-01 15:46] jwheeler-gs opened #255 "Dynamic Registration Typescript Error"
There seems to be a type definition problem with `TypeOfGenericClient<Client>`. The `register` method is declared as `static` and cannot be accessed from a `Client` instance according to the TS definition. Given the code below:
[code]

I am getting this error:
[code]

I'm using the code the same way as the javascript example in this repo's tests folder. I'm not sure if I need to do something diffe

[2020-05-01 16:00] jwheeler-gs commented on #255
As a very hacky workaround to be able to compile right now, I'm currently doing the following:

[code]

[2020-05-01 16:16] panva commented on #255
Yeah i’ll see to get it fixed. Thanks for raising this

[2020-05-01 22:41] jwbennet opened #256 "Support empty client secret for client_secret_post and client_secret_basic?"
We are using an OIDC provider which only supports `client_secret_post` or `client_secret_basic` for the token endpoint auth methods.  We are implementing a CLI using an authorization code grant which does not use a client secret.  For this to work we need to explicitly send along a client secret, but it needs to be an empty string.  The following two spots are throwing errors in this case:

https:

[2020-05-02 07:20] panva commented on #256
So use the appropriate token_endpoint_auth_method “none”.

Or use an http customizer to add your empty strings to bodies or replace the authorization header.

I will not be allowing what looks like a way to get bugs accepted in developer code.

[2020-05-02 07:20] #256 closed

[2020-05-02 08:18] panva commented on #255
Actually, this is a duplicate of #232, i welcome anyone with the TS skills to add this to the list of things to [fix](https://github.com/panva/node-openid-client/issues/232#issuecomment-591293420)

[2020-05-02 08:18] #255 closed

[2020-05-02 08:19] panva commented on #232
@theogravity poke

[2020-05-02 14:50] jwbennet commented on #256
Sounds good, thank you for the response! I would prefer to use that auth method but my provider does not support it.  The [HTTP customizer](https://github.com/panva/node-openid-client/blob/master/docs/README.md#customizing-http-requests) approach seems to work well.  If anyone else tries something similar make sure to update the `content-length` header when modifying the body like the `got` projec

[2020-05-03 06:38] buithienquyet opened #257 "Cannot customizing individual HTTP requests"
Hello!
I tried using  custom HTTP request, but not working.
I assigned a funtion:
![ảnh](https://user-images.githubusercontent.com/26385748/80907782-dc812d80-8d43-11ea-9a9a-213e7f78f68d.png)
and console logged new options:
![ảnh](https://user-images.githubusercontent.com/26385748/80907726-8f04c080-8d43-11ea-81fa-9449b3ceeb28.png)
 but it still throws error with default options timeout 2500ms when

[2020-05-03 08:10] panva commented on #257
It’s probably not a client instance timeout, an Issuer instance timeout can happen too when fetching its jwks_uri for the first time.

[2020-05-03 08:10] #257 closed

[2020-05-03 08:21] buithienquyet commented on #257
Thanks for your response, but I initialize Issuer by passing metadata, I tried setting global options and it worked but i want to set options locally for each client.
Thanks!

[2020-05-03 09:20] panva commented on #257
client !== issuer

Read the text before the code snippet

https://github.com/panva/node-openid-client/blob/master/docs/README.md#customizing-individual-http-requests

[2020-05-03 10:17] buithienquyet commented on #257
I have fixed this, I must set options for both client and issuer.
Thank you very much!

[2020-05-04 11:02] gordonmleigh opened #258 "Non-conforming http basic authentication"
I realise that your (excellent) library is standards compliant, but given that the existence of non-compliant IdPs is sufficient to warrant a several line "not my fault" comment in the code, would you accept a PR to special-case support for non-conforming servers in some way? E.g. by a using a `client_secret_basic_not_encoded` scheme or something like that.

In an ideal world we'd ask the third pa

[2020-05-04 11:13] panva commented on #258
I would not.

There are plenty of non-conformities that can occur and I will not have one flag for each.

To work around specific IdP-quirks when it comes to http auth see [customizing http requests](https://github.com/panva/node-openid-client/blob/v3.15.0/docs/README.md#customizing-individual-http-requests) and replace the authorization header with one that fits your bill.

[2020-05-04 11:13] #258 closed

[2020-05-04 22:01] tabarra commented on #250
Worked perfectly!
Once again, thanks for being so open to small tweaks!

[2020-05-06 12:08] Asafkbalink commented on #237
What is the solution then?
I'm having the same problem when trying to initiate the authentication from a native ios app.
The ios app reaching `/auth/login` to initiate login, the redirect uri in the strategy is set to `auth/callback` but after logging in it fails with this error message.

@abhinavtcs maybe you managed to solve it?

[2020-05-06 12:26] foray1010 opened #259 "support OAuth 2.0 Pushed Authorization Requests"
**Is your feature request related to a problem? Please describe.**
Since oidc-provider already support OAuth 2.0 Pushed Authorization Requests - draft 01, I would like openid-client to support it too so that my project could use it, I am willing to open PR for it.

**Describe the solution you'd like**
not sure what is the best interface design, maybe we create another function called `pushedAuthor

[2020-05-06 13:01] panva commented on #259
Hi @foray1010,

thank you for offering to work on this interface. Given that PAR is still an early draft i am hesitant to adding it to the client library. Rest assured that once stable, as one of the draft's authors i will be adding first party support.

It shouldn't be an issue for you to make those requests using `got` or similar request library.

You may even use the existing API and construct

[2020-05-06 13:01] #259 closed

[2020-05-12 21:14] nathanprabhu opened #260 "Random error: jwks_uri must be configured on the issuer on '/callback' route"
**Actual Behavior**
- On client.callback, randomly I get the error '**jwks_uri must be configured on the issuer**' even though the Authorization server has a jwks_uri configured. This behavior is not consistent. On restarting node server, it goes away.

**Steps to Reproduce the Problem**
- Create a oidc client
- client.callback()

**Version:**
"openid-client version": "3.15.0"

**Platform:**
MacOS

[2020-05-13 06:16] panva commented on #260
Use the discovery document url instead of issuer identifier for the Issuer.discover call.

For some reason Okta’s RFC8414 doesn’t list jwks.

[2020-05-13 06:16] #260 closed

[2020-05-13 07:20] panva commented on #260
Expanding on my answer, check the difference between your server's

/.well-known/oauth-authorization-server
/.well-known/openid-configuration

They should be aliases for one another and they're likely not.

If you discover issuer with the string `{{url}}/.well-known/openid-configuration` you'll be fine as it won't attempt a general discovery using both mechanisms

[2020-05-13 08:48] ar2rsawseen opened #261 "Question: Revalidating ID token"
Hello,
I am using ID token flow and the authentication part works great and without hiccups.
I can authenticate the user and then use my own session management.

But what I would want to do is to be able to recheck if user still belongs or have an account at ID provider. And if not, then log the user out or use some kind of other measures.

I can simply re-authenticate users, but that usually invo

[2020-05-13 08:56] panva commented on #261
@ar2rsawseen there is no such thing that you probably have in mind.

Using certified OIDC Authorization Server you ought to be able to silently check if "it's the same user" by triggering an authorization request with the following parameters `prompt=none&id_token_hint=<previously received id_token>`. This will either result in a new tokenset (or not if you also add `response_type=none` if support

[2020-05-13 08:56] #261 closed

[2020-05-13 08:59] panva commented on #261
Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this was helpful to you. Supporting the library means, amongst other things, that such support will be available in the future.

[2020-05-13 09:09] ar2rsawseen commented on #261
My other idea was to get access_token and use it to fetch user info, and if I can't, that could mean the user is not in the ID provider system anymore or simply needs access_token refresh, which in both cases would force reauthentication.

Is it abusing the system? or it could be a valid solution too?

[2020-05-13 09:16] panva commented on #261
Access Tokens, same as sessions on the OP expire. You're bound to run into errors caused by other factors than what you're looking for in either case.

[2020-05-13 09:30] ar2rsawseen commented on #261
it seems your example of revalidation works perfectly
leaving it here for others to see too
[code]

[2020-05-14 06:03] chaitankarp opened #262 "Make validateIdToken API public"
Hi,

Sorry if the question may seem a bit out of scope. I'm using id_token authentication flow, i use [Dex](https://github.com/dexidp/dex) for identity provider. The authentication part works great. What I'm trying to understand is how exactly do we authenticate the id_token per request? I use passport strategy.

My passport streategy looks something like this:

[code]
I've seen the test file clie

[2020-05-14 06:07] panva commented on #262
Question is why do you need to validate it again? What is it in the session you set that you don’t trust?

[2020-05-14 06:55] chaitankarp commented on #262
I get it now. If id_token has an expiration time, shouldn't we check for that? I store the claims in the session and it has an expiry.

[2020-05-14 07:04] panva commented on #262
First of all, ID Token expiry (`exp`) is not there to set the TTL on your own session. You're free to set a session for any amount of time fitting your use case and security considerations.

If you still want to align your RP session with the ID Token expiry, then you don't need to validate the ID Token again and again, just use your own session's expiry means.

[2020-05-14 07:04] #262 closed

[2020-05-14 08:24] chaitankarp commented on #262
Thanks for clarifying.

[2020-05-14 09:59] panva commented on #262
Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this and the previous support was of help to you. Supporting the library means, amongst other things, that such support will be available in the future.

[2020-06-01 09:40] CS-Birb opened #263 "validateJWT rejects Non-Integer iat, exp, nbf"
**Describe the bug**
validateJWT checks if provided `iat`, `nbf` and `exp` claims are Integers, and will throw exceptions if not. Naturally this will cause issues if an identity provider returns a JWT with floating-point NumericDates.

This behaviour appears to be counter to [RFC7519](https://tools.ietf.org/html/rfc7519#section-2), which defines NumericDates as so:

**To Reproduce**
Steps to repro

[2020-06-01 13:09] #263 closed

[2020-06-01 13:11] panva commented on #263
@CS-Birb thanks for bringing it up, it is fixed in `v3.15.2`

[2020-06-03 16:39] alexgreenland opened #264 "Throwing with more details on error in `processResponse`"
In `processResponse` when it's a not a 200/OK response, is there anything against throwing with the response body even if it doesn't contain the property `error`? When this happens currently, I see a status code mismatch but no details.

https://github.com/panva/node-openid-client/blob/049e578ff513d092d7d21a9bd4211da9e2089614/lib/helpers/process_response.js#L31

I've seen quite a few providers ret

[2020-06-03 16:45] panva commented on #264
`err.response` is populated tho, isn't it? So you're free to inspect it anyway you want for the non-conform providers.

[2020-06-03 17:28] a3986 opened #265 "Authorization Example Sample Code"
Hi,

I am using keycloak for my authentication and authorization purposes and using Angular as frontend and NodeJS as backend.

I am able to do the authentication using this library in node js but I am not able to figure out, how to do the authorization using the same.

I have created different resources, scopes in keycloak and also attached different permissions but could not make it work using t

[2020-06-03 18:37] #264 closed

[2020-06-03 18:39] panva commented on #265
This is not a Resource Server library. You can merely request resources according to your IdP’s scheme by adding authorization request parameters.

[2020-06-03 18:39] #265 closed

[2020-06-03 18:44] a3986 commented on #265
Thanks for your response. Is there an example on how this is done? I was expecting a 403 error on requesting a resource if user does not have access to it.

[2020-06-03 18:53] panva commented on #265
Once again, that is not the responsibility of this library, its an openid connect client, not a resource server. It’s job is to give you means to establish an end-user session and accomodate requesting claims/tokens from the authorization server.

[2020-06-04 04:39] roggervalf commented on #265
I could suggest using https://www.npmjs.com/package/iam-policies in a middleware. Also in backend you should check if token is valid from your provider, get the userId and so on.

[2020-06-09 10:32] cnoelle opened #266 "Separate redirect URL from discovery URL"
Trying to use the library for authentication (Auth flow with PKCE) with passport in a docker-compose setup. The identity provider in this case is reachable from the NodeJS server via a docker-internal host name, such as http://keycloak:8080, whereas the browser reaches the identity provider via http://localhost:8080. The issuer discovery is successful at http://keycloak:8080, but when a user tries

[2020-06-09 10:47] panva commented on #266
I won’t be working on something nonstandard like this as an “improvement”, if you want to change some of the responses to show a different url or redirect elsewhere, use a post middleware to do so.

[2020-06-09 10:47] #266 closed

[2020-06-09 10:48] panva commented on #266
Or better yet, invest time in a proper deployment setup that works externally but internally resolves to your internal hosts.

[2020-06-09 12:56] panva commented on #266
I thought this was open under a different repo so i've deleted my previous answers based on that wrong assumption.

[2020-06-09 12:56] panva commented on #266
No, such thing isn't possible with discovery.

[2020-06-11 18:01] jnaous opened #267 "Discovery code assumes that OIDC and Oauth2 discovery URLs return the same information"
**Describe the bug**
In https://github.com/panva/node-openid-client/blob/38a5828755bb1ce0d4085fdc1813debbb60dc121/lib/issuer.js#L229 the code adds both the OIDC and OAuth2 discovery URLs and then in line 240 issues requests to both simultaneously and picks the result of either to use. However these two URLs do not have to return the same data, and this has caused problems with our app integrating

[2020-06-11 19:45] panva commented on #267
I’ve mentioned this somewhere already, if you use a product like okta, who’s the only one i know of having this weird duality to it, as in - yielding different results for no apparent reason - just pass the discovery URL instead of an issuer.

[2020-06-11 19:45] #267 closed

[2020-06-11 19:48] jnaous commented on #267
Why not do the right thing by default?

On Thu, Jun 11, 2020, 12:45 PM Filip Skokan <notifications@github.com>
wrote:

[2020-06-11 19:57] panva commented on #267
“right thing” is not so clear, AFAICT (section 5 of RFC8414) when a server uses both of these, a transition period, they should yield the same result.

[2020-06-11 20:03] panva commented on #267
Looking at the two discovery results, there's no good reason for them not to be merged and yield the same result. A quirk.

[2020-06-11 20:04] jnaous commented on #267
IMHO the right thing is what minimizes the number of problems consumers of
this awesome library could run into. Given that Okta is such a major use
case, wouldn't you want to make it possible to use it OOB and for people
not to step into Okta's booby trap? It's not easy to google for this
specific problem on Google btw. Not many threads about it.

BTW, thank you for maintaining this library, and t

[2020-06-11 20:21] panva commented on #267
I do not tend to give in to what appear to be provider quirks. If anything, such providers should acknowledge that we're in a transition period described in the specification and software is bound to do one or the other discovery. So it should be the other way around.

We should not be writing software like we used to write HTML applications that would work on IE, "if IE, then ..."

[2020-06-12 14:50] Austio opened #268 "Injectable Cache Option in Library"
**Is your feature request related to a problem? Please describe.**

I would like the ability to cache unexpired grants for a duration locally or in a remote cache to reduce load/requests on the authorization server.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

In client.js, i think we could offer the ability to pass in a 'cache' that would wrap

[2020-06-12 15:01] panva commented on #268
@Austio thank you for bringing this up.

This (in bold) I don't exactly follow. Either way, I don't think i'll be adding a cache because there's no "one way" defined for what should be cached, when and for how long. Unless you want to do a quick PoC implementation and work out the use cases?

[2020-06-15 15:04] Lakshman1996 opened #269 "Modify the issuer URL after discover"
Hi

I am discovering the issuer using Microsoft common URL to perform multi tenant auth.
i tried modifying the issuer URL in metadata as mentioned in this [issue](https://github.com/panva/node-openid-client/issues/58)
The value in the metadata object remains same even after assigning a new value.
Is there anything that i am missing?

Thanks

[2020-06-15 15:09] panva commented on #269
Why are you trying to do that? Ever since 2.5.0 that shouldn't be needed anymore.

[2020-06-15 15:18] Lakshman1996 commented on #269
I get this error `unexpected iss value, expected https://sts.windows.net/{tenantid}/, got: https://sts.windows.net/8d88c9c2-2058-486d-9cd4-2fc9010326bc/` when is use `https://login.microsoftonline.com/common` for discover.

I have to use common endpoint for Multi tenant auth to work in [AAD](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant)

[2020-06-15 15:21] panva commented on #269
Can't you use `https://login.microsoftonline.com/common/v2.0` instead?

[2020-06-15 15:29] #269 closed

[2020-06-15 15:30] panva commented on #269
`v3.15.3` released that handles v1 common the same as v2 common.

Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this and the previous support was of help to you. Supporting the library means, amongst other things, that such support will be available in the future.

[2020-06-15 16:20] Lakshman1996 commented on #269
Thanks for the quick reply.
Using v2.0 worked.

[2020-06-16 20:37] #268 closed

[2020-06-16 20:50] Austio commented on #268
@panva hey missed responding on this one, i think that it would be possible to wrap the calls in a store that implements backends which people can provide.  On my end i handled this in app land using a proxy cache.

[2020-06-25 10:55] abhinavkumarmaurya opened #270 "How to add set values for claims in Node OIDC without including the respective scopes"
We are using JWT request payload at authorization endpoint to provide scope and claims
http://localhost:9116/oidc/auth?client_id=ktRtImddxmt1hFfDmy4aF&response_type=code id_token&scope=openid profile&nonce=foobar1&redirect_uri=https://www.xyyy.com.jj/redirects/redirect1&request=eyJraWQiOiJrYXJ0aGlqd2tza2lkIiwidHlwIjoiSldUIiwiYWxnIjoiUFMyNTYifQ.eyJhdWQiOiJodHRwOlwvXC9sb2NhbGhvc3Q6ODA4MiIsInNjb3BlIj

[2020-06-25 14:18] katsanva opened #271 "Device flow auth nonce check"
Hello.

I've encountered a weird behavior with polling the TokenSet for device auth:
Mu OpenId server gives the id token that has nonce in JWT payload, but unfortunately the `handle.poll()` rejects with

[code]

This happens because of [id token check in device handle](https://github.com/panva/node-openid-client/blob/master/lib/device_flow_handle.js#L74) fails due to the [actual check](https://git

[2020-06-25 14:20] panva commented on #271
There should be no server generated nonce in the id token unless you’re sending one in. Using nonce for decice flow makes no sense anyway.

[2020-06-25 14:20] #271 closed

[2020-06-25 14:23] katsanva commented on #271
Thank! Isn't that better to ignore nonce in the JWT for this case instead of throwing an error?

[2020-06-25 14:26] panva commented on #271
Nop, it’s better if the server doesn’t fill the id token with random values the client should be generating.

[2020-06-25 14:33] panva commented on #270
That is something you need to question at your Authorization Server. The client seems to send everything in order so that an AS supporting the claims parameter can act on it.

[2020-06-25 14:33] #270 closed

[2020-06-25 14:33] panva commented on #270
Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this support was of help to you. Supporting the library means, amongst other things, that such support will be available in the future.

[2020-06-25 14:33] panva commented on #271
Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this support was of help to you. Supporting the library means, amongst other things, that such support will be available in the future.

[2020-06-25 15:11] panva commented on #271
Think about it this way - if this was about code flow, for which you're not required to send in a `nonce` as a client but you got one back anyway (generated by the server) - the client would throw because it's possible a mixup attack happened.

[2020-06-25 16:56] abhinavkumarmaurya commented on #270
I saw the server code, it is filtering out the claims that are not part of scope. But what about the claims that are passed separately. How would they be included in id_token or user_info.
configuration.js has somthing like this:
claims: {
    address: ['address'],
    email: ['email', 'email_verified'],
    phone: ['phone_number', 'phone_number_verified'],
    profile: ['birthdate', 'family_name'

[2020-06-25 16:58] panva commented on #270
Ok. Let me point out this is a client project. If you want help setting up a specific idp using oidc-provider, open up an issue/search the tracker there.

[2020-06-25 16:59] panva commented on #270
And FWIW, i’m sure you just don’t have the claimsParameter feature enabled.

[2020-06-26 06:23] katsanva commented on #271
Thank you for such a detailed response!

[2020-06-26 09:46] s100 opened #272 "Consider stopping using `lodash`?"
There is a [prototype pollution vulnerability in `lodash`](https://github.com/lodash/lodash/issues/4738), which `lodash`'s maintainers [seem not to be acting on](https://github.com/lodash/lodash/pull/4759). My suggestion is that moving away from `lodash` entirely might be an expedient way to resolve this.

Related, previously: #5, #171

[2020-06-26 11:21] panva commented on #272
openid-client does not utilize the method in question and is therefore not affected. Nevertheless, removing lodash is something I’d support driving a PR forward for if you’re offering putting the time into it.

[2020-06-26 11:21] #272 closed

[2020-06-26 19:00] ddolcimascolo opened #273 "Regression in patch release 3.15.4"
Hi,

This ticket is a reminder, I'll provide all the details on Monday morning max, maybe during the weekend.

We've started to see build failures with an automated upgrade of openid-client from v3.15.3 to v3.15.4. I don't have access to full build logs currently, but what I can tell is that an HTTP request performed by the client when refreshing an access token is now different. Again, I'll provi

[2020-06-26 19:14] panva commented on #273
@ddolcimascolo thank you, i'll investigate as much as i can but any details would be helpful.

[2020-06-26 19:30] panva commented on #273
@ddolcimascolo hopefully 3.15.5 addresses the regression. 🤦 , `merge` !== reversed `defaultsDeep`, apologies. If it's not resolved, please provide more details in a bug report.

[2020-06-26 19:30] #273 closed

[2020-06-27 07:56] ddolcimascolo commented on #273
Hey @panva I can confirm 3.15.5 fixes it. Thanks

[2020-06-27 08:32] panva commented on #273
Much appreciated 🌟

[2020-06-30 13:10] frantzyy opened #274 "multiple redirect_uris"
I'm using this package in a front end gateway that can handle multiple hostnames.

I'm able to register the multiple redirect uris with my IDP and I'm able to configure my Client with the multiple redirect uris.

I don't understand how to get the Strategy to use the right uris (hostname) when authenticating the request. I was hoping for something similar to the Facebook Strategy where I can pass a

[2020-06-30 13:14] panva commented on #274
pass the redirect uri you want to use to the passport authorize call. e.g. https://github.com/panva/node-openid-client/pull/132#issuecomment-432924093

[2020-06-30 13:14] #274 closed

[2020-06-30 13:26] frantzyy commented on #274
ok I see how that is working but it can't be a relative path which I guess is implied by a uri.

 So I just need to add some logic to pull hostname from the request before passing it to the authenticate call.

Thank you for the quick reply and effort to maintain this library.

[2020-06-30 13:38] panva commented on #274
Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this support was of help to you. Supporting the library means, amongst other things, that such support will be available in the future.

[2020-07-07 22:45] keatsk opened #275 "Passport strategy callback doesn't handle 403 errors properly"
**Describe the bug**
When my OP sends an "Access Denied" error to the callback URL, client.js throws an RPError, 'state missing from the response'.  (line 402).

In passport_strategy.js line 83, the reqParms gets set to { error: "access_denied", error_description: "Unauthorized").  I think at that point you should just throw an Access Denied error, no?

**To Reproduce**
Issuer and Client configura

[2020-07-07 23:09] keatsk commented on #275
FYI, I was able to make a workaround by adding a check in the express route handler.  See below:

[code]

[2020-07-08 07:23] panva commented on #275
Your OP is not including the state callback parameter as it should, hence the state check error. Check with your OP to fix this issue.

[2020-07-08 07:23] #275 closed

[2020-07-08 12:44] keatsk commented on #275
Thanks for the quick response. You're right, it appears that the state parameter is required in the error response if supplied in the request per https://openid.net/specs/openid-connect-core-1_0.html#AuthError.  I suspect many OPs don't honor that, but I'll try to get a fix for mine.

[2020-07-08 13:24] panva commented on #275
All proper ones do. It’s part of the spec, it’s mandatory to implement. Amongst my circle, all do.

[2020-07-15 05:11] panva commented on #249
https://developer.yahoo.com/blogs/622587085959938048/

[2020-07-16 06:30] gigo1980 opened #276 "How is it possible to skip the "consent screen"?"
We have the following scenario.
After the user has logged in you are seeing the consent screen where you have to approve the scopes that are requested.

We would skip this step, is this still possible? And if, how can we can hook into that process/workflow?

[2020-07-16 06:45] big-kahuna-burger commented on #276
It is not recommended but in any case, here it goes:

[code]

But then if your user is requesting scopes, you need to grant them all when calling `interactionFinished` or you will get error.
Something like this:
[code]

[2020-07-16 06:58] panva commented on #276
How is this an openid-client question?

[2020-07-16 06:58] #276 closed

[2020-07-16 06:59] panva commented on #276
@gigo1980 your IdP controls when a consent screen is shown. The client software does not control that.

[2020-07-16 15:21] manudeep96 opened #277 "no valid key found in issuer's jwks_uri for key parameters"
I am trying to use this with azure ad as the IDP following the Authorization Code Flow. Once I get back the auth code client.callback() method throws this error:
"no valid key found in issuer's jwks_uri for key parameters {"kid":"<some kid>","alg":"RS256"}"

The issuer object returned from
Issuer.discover('https://login.microsoftonline.com/<my tenant id goes here (also tried with common)>/v2.0/.we

[2020-07-16 15:29] panva commented on #277
Please include the “kid” values. Thank you.

[2020-07-16 15:40] panva commented on #277
Also the id token values. You can get the jwt from the error object.

[2020-07-16 15:50] manudeep96 commented on #277
RPError: no valid key found in issuer's jwks_uri for key parameters {"kid":"TduEWfDS_XG7693V9CSicOeRqbg","alg":"RS256"}

I got the same error with this common end-point.
https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration

[2020-07-16 16:05] panva commented on #277
@manudeep96 if you're discovering https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration which leads to https://login.microsoftonline.com/common/discovery/v2.0/keys and get an ID Token with `kid` header parameter `TduEWfDS_XG7693V9CSicOeRqbg`, that's a problem you should raise with AAD. `openid-client` is doing all as it should, it looks at the JWT header, downloads the key

[2020-07-16 16:05] #277 closed

[2020-07-17 14:16] manudeep96 commented on #277
Thanks. That made me read some azure docs and I realized my app had custom signing keys as a result of the claims mapping feature and the discovery end point needed appid as a parameter for me to get the right jwks_uri.

[2020-07-26 10:49] astrixj opened #278 "Validate jwt token option"
Hi,

we are considering to use the library for oidc scenario , we made some test which working ok. my only question if there
is an option somethow to omit the validate jwt token function? I know that this is not part of the spec, but we must have it, is there a way ?

Thanks

[2020-07-26 11:06] panva commented on #278
@astrixj there isn’t and won’t be. Validating the ID Token is a required step.

[2020-07-26 11:06] #278 closed

[2020-07-26 11:09] panva commented on #278
If you wish to omit validating the signature the configuration of some providers in some scenarios allows for the use of JWS alg: none, in which case only claim validation would be performed.

[2020-07-26 11:14] astrixj commented on #278
@panva  - not sure that I got it, where should I put the `none` ? is there example ?  you mean in this point of code ?

[code]

[2020-07-26 11:17] panva commented on #278
@astrixj this is a configuration you'd look for at your identity provider. If they provide it, you'd configure the client with `id_token_signed_response_alg: 'none'`. Without the accompanied setting in your identity provider tho, this leads nowhere.

If I may ask, what's the reason why you MUST have the option to skip on a key assurance when it comes to validating IdP assertions?

[2020-07-26 13:50] ruiengana opened #279 "max_age defined as string rather than number"
**Describe the bug**
In AuthorizationParameters interface max_age is defined as string rather than number.

**To Reproduce**

    <setup client>
    const max_age = 86400;
    const request = await client.requestObject({
      scope,
      response_type,
      redirect_uri,
      state,
      nonce,
      max_age,
      claims,
      code_challenge,
      code_challenge_method,
    });
}

Steps to

[2020-07-26 15:10] #279 closed

[2020-07-26 15:13] ruiengana commented on #279
Thanks!

[2020-07-26 17:20] RaynDol opened #280 "Get array of audiance"
HI,

We are starting using this repository for OIDC scenario which works well,  we are using it with passport.
We have only one issue that we define own our side **two audience** and we are getting **only one** in the client during runtime(we suppose to get an array), any idea what could be the reason ?

we define one `aud` and one `azp`
https://github.com/panva/node-openid-client/blob/master/lib/

[2020-07-26 17:24] panva commented on #280
That has nothing to do with the client tho. It’s only returning whatever the IdP returns.

[2020-07-26 17:24] #280 closed

[2020-07-27 09:00] RaynDol commented on #280
After a long debug session, the code expect to get the `azp` when there is more than one aud , why? our idp doesnt return it, is it a must according to the spec? is there any reference ?

[2020-07-27 09:07] panva commented on #280
https://openid.net/specs/openid-connect-core-1_0.html, search for “azp”, it is required when “aud” contains multiple values.

[2020-07-27 11:01] RaynDol commented on #280
I guess you are talking on step 4 under token validation scenario

4. If the ID Token contains multiple audiences, the Client SHOULD verify that an azp Claim is present.

[2020-08-04 20:32] JennyMet opened #281 "error while trying to connect several times"
HI,

I use the following code which works, However after few success calls (3-10), I sometimes get internal server error with the following  error,

I use the `3.15.9`
Any idea what could be wrong?

[code]

My code from the stack is
[code]
which is the end of the code

[code]

This is the full code (I pass the `app` which is simply express server) , am I doing something wrong?

This is the **index

[2020-08-04 20:59] panva commented on #281
I believe the error says it all, on the initial request that results in redirecting to the issuer's `authorization_endpoint` the strategy sets an object to the req.session's `oidc:accounts.rvm.com ` property.

Said object is not there when getting the callback. You should investigate why that's the case.

[2020-08-04 21:00] #281 closed

[2020-08-04 21:06] JennyMet commented on #281
Thanks for the quick answer, Im a bit lost with all the middleware stuff, it took some time to make it work with the right oreder of the middleware and it works but not stable. I use the latest version of all the components, could you please give me hint or something, where do you think the issue could be?
as it works, but sometimes after 5-10 request I got this error.

[2020-08-04 21:15] panva commented on #281
Debugging passport and cookie/express-session isn’t really in my capacity nor in my scope. This strategy conforms to the API passport requires and follows the implementation of other strategies only in a generic OIDC compliant way.

I can see one issue in your code, the way you’re passing “cfg” to the strategy isn’t right. Please refer to the documentation, there’s no recognized or used cfg proper

[2020-08-04 21:24] JennyMet commented on #281
Thanks you very much for the tip,

Do you mean like this? it use different lib, if not could you please provide a reference?

http://www.passportjs.org/docs/openid/
[code]

[2020-08-05 05:35] astrixj opened #282 "Best practise of using node-openid-client"
Hi,

Is there any tutorial or docs which describe how to work with `node-openid-client` according to best practices?
Why I ask for it.

Currently to make e2e works you need to use few other components
 such as passport  , express-session etc. I really want to avoid it as (as much as possible) as the **bring noise** to the system
e.g. if you change the order of some middle-wares it will stop workin

[2020-08-05 06:22] panva commented on #282
openid-client is completely framework agnostic, there’s no best practice because there’s no one and best way to write services in Node. The quick start in the readme does explain an e2e flow well and generic enough that you can apply it to your web framework of choice.

This client, think of it as a stepping stone, a core lib for framework/usecase oriented libraries, such as what [express-openid-c

[2020-08-05 06:22] #282 closed

[2020-08-05 09:32] panva commented on #281
No. I obviously meant the [documentation](https://github.com/panva/node-openid-client/blob/v3.15.9/docs/README.md#strategy) for THIS module.

[2020-08-05 10:16] JennyMet commented on #281
Thanks a lot!!! Is there a way that I remove the passport usage ? as I use it to the serialize user session claims etc. Im not happy with it and I think that I should remove it, looking at my code is should be simple or I should refactor all ?

[2020-08-05 14:49] JennyMet commented on #281
@panva  looking at the following statement "Generic OpenID Connect Passport authentication middleware strategy."  says that I need to use passport, is there example that can I use cleaner OIDC implementation without passport at all ?

[2020-08-05 14:54] panva commented on #281
https://github.com/panva/node-openid-client/issues/282#issuecomment-669004901

I really don't follow your line of reasoning. This is a generic client first, exposing a generic OIDC passport strategy second. It is framework agnostic. The strategy is in place just because people kept asking for one. The quick starts in the project's readme explain the steps you ought to take for the very basic flows

[2020-08-05 15:04] JennyMet commented on #281
#282 (comment) , this is someone else question :) , I'll check it out...

[2020-08-05 15:05] JennyMet commented on #281
#282 (comment) , this is someone else question :) , I'll check it out...

[2020-08-11 12:54] astrixj commented on #282
@panva - I took your suggestion and try to implement the oidc **without passport**, however it seems that there issue with the library or Im missing something

This is our code which is working, the auth server calling the redirect route and I was able to get the user ` id_token`

[code]
However when I try to use the express with the same values(clientid clientsecret etc) Im getting error

[code]

[2020-08-11 12:54] astrixj commented on #282
@panva - I took your suggestion and try to implement the oidc **without passport**, however it seems that there issue with the library or Im missing something

This is our code which is working, the auth server calling the redirect route and I was able to get the user ` id_token`

[code]
However when I try to use the express with the same values(clientid clientsecret etc) Im getting error

[code]

[2020-08-11 12:54] astrixj commented on #282
@panva - I took your suggestion and try to implement the oidc **without passport**, however it seems that there issue with the library or Im missing something

This is our code which is working, the auth server calling the redirect route and I was able to get the user ` id_token`

[code]
However when I try to use the express with the same values(clientid clientsecret etc) Im getting error

[code]

[2020-08-11 12:54] astrixj commented on #282
@panva - I took your suggestion and try to implement the oidc **without passport**, however it seems that there issue with the library or Im missing something

This is our code which is working, the auth server calling the redirect route and I was able to get the user ` id_token`

[code]
However when I try to use the express with the same values(clientid clientsecret etc) Im getting error

[code]

[2020-08-11 15:05] big-kahuna-burger commented on #282
@astrixj Your issuer discovery document defines this in `response_modes_supported` field, so unless 'form_post' isn't present in it, it is likely not supported.

[2020-08-11 15:21] astrixj commented on #282
@ big-kahuna-burger - did you see the the I've posted, I use the discover of `https://github.com/panva/node-openid-client` for the **exact same issuer** and this works, how do you explain this?

[2020-08-11 15:21] astrixj commented on #282
@ big-kahuna-burger - did you see the the I've posted, I use the discover of `https://github.com/panva/node-openid-client` for the **exact same issuer** and this works, how do you explain this?

[2020-08-11 15:21] astrixj commented on #282
@ big-kahuna-burger - did you see the the I've posted, I use the discover of `https://github.com/panva/node-openid-client` for the **exact same issuer** and this works, how do you explain this?

[2020-08-11 15:21] astrixj commented on #282
@ big-kahuna-burger - did you see the the I've posted, I use the discover of `https://github.com/panva/node-openid-client` for the **exact same issuer** and this works, how do you explain this?

[2020-08-11 15:22] astrixj commented on #282
@ big-kahuna-burger - did you see the the I've posted, I use the discover of `https://github.com/panva/node-openid-client` for the **exact same issuer** and this works, how do you explain this?

[2020-08-11 15:22] astrixj commented on #282
@ big-kahuna-burger - did you see the the I've posted, I use the discover of `https://github.com/panva/node-openid-client` for the **exact same issuer** and this works, how do you explain this?

[2020-08-11 15:23] astrixj commented on #282
@ big-kahuna-burger   Issuer.discover(`${(process.env.NVM_URL)}/.well-known/openid-configuration`)
    .then((criiptoIssuer) => {
      const client = new criiptoIssuer.Client({
        client_id: process.env.NVS_CI,
        client_secret: process.env.NVM_CS,
        redirect_uris: [process.env.RDR_URI],
        token_endpoint_auth_method: 'client_secret_basic'
      });

[2020-08-11 15:28] big-kahuna-burger commented on #282
I'm not trying to explain it. I'm just saying that your OP discovery document states `response_modes_supported` and if you are using the one unsupported - it is likely the reason for error you are seeing.

[2020-08-11 15:59] astrixj commented on #282
@ big-kahuna-burger  - you dont think that there is maybe different way to use it ? as it doesnt make sense that it work with x library and with the second for the same issuer I got erorr message, maybe it should defined differently ?

[2020-08-12 11:40] panva commented on #282
@astrixj it would be great if you discerned between issues of specific libraries. None of what i'm seeing here is a problem with openid-client. The response mode error isn't coming from this library so why discuss it here? passport, same thing.

[2020-08-12 11:42] panva commented on #282
As far as i can see tho, it "works" with passport for you but it clearly can't be using the response_mode=form_post since your callback is registered for a GET. So it's likely your OP is completely ignoring that parameter, else you'd be getting a POST. The express-openid-connect tells you of this issue since the response modes in discovery don't list form_post.

[2020-08-12 12:58] uramen opened #283 "Token: RPError: failed to decode JWT"
Hello,
I have some trouble with:
[code]

an error that I've received:
![Screenshot from 2020-08-12 15-43-30](https://user-images.githubusercontent.com/12251236/90016465-b22ffc00-dcb2-11ea-9389-1f537dc8e28c.png)

discovery URL:
https://preprod.signicat.com/oidc/.well-known/openid-configuration

config:
[code]
Seems that I need something to encrypt.
It will be great If somebody has some thoughts.

[2020-08-12 13:00] panva commented on #283
https://github.com/panva/node-openid-client/blob/master/docs/README.md#new-clientmetadata-jwks-options

[code]

[2020-08-12 13:00] #283 closed

[2020-08-12 13:02] panva commented on #283
Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this support was of help to you. Supporting the library means, amongst other things, that the library and such support will be available to you in the future.

[2020-08-18 11:56] uramen commented on #283
Sorry for bothering you @panva but I stuck a little. I put JWK from the SIGNICAT platform as you said and got this:

![Screenshot from 2020-08-18 14-32-46](https://user-images.githubusercontent.com/12251236/90508091-b69b5f80-e15f-11ea-997d-69adb779557e.png)

my config now:

[code]
It seems that format is different, should I ask them for something like this:
[code]
Or I can change it by myself. I'm

[2020-08-18 12:39] panva commented on #283
`RSA-OAEP` means they're encrypting using your RSA public key. Ergo, you should have a private key that corresponds with that already.

[2020-09-04 14:09] victortostes-hotmart opened #285 "JWT id_token verification"
I'm trying to verify `id_token` locally on my own middleware lib. It means I don't wanna send a request to my OP to verify token integrity in non critical requests due resilience gurantee even when my OP is out of service;

I'd like to know if possible to have a public verify method on API just to avoid using other libs to make the verification;

[2020-09-04 14:15] panva commented on #285
I'm not going to make those public as there are multiple aspects to verifying tokens that are context specific, that context is something the library knows, an offline process cannot replicate the conditions, the library internally uses [jose](https://github.com/panva/jose), meaning that you can use that one without incurring a "new" dependency since it's already in your dependency tree. Using it

[2020-09-04 14:15] #285 closed

[2020-09-04 14:16] panva commented on #285
Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company. Supporting the library means, amongst other things, that my support and the library itself will be available to you in the future.

[2020-09-09 01:13] matrix4123 opened #287 "jwks kid compare is failing"
Hello, I am seeing an error when my code is deployed to a Google Cloud Function that doesn't present itself when I run locally.

I suspect it is a difference in Node versions which the app runs within. I believe it is failing because the when the jwt is validated against the jwks keys it is looking it up assuming a string representation. In my case the kid is a number (1). So it is comparing "1" a

[2020-09-09 01:22] matrix4123 commented on #287
I just noticed you actually wrote that issue that I linked. 👍

It looks like your current library doesn't use the node-jose library any longer?

[2020-09-09 05:47] panva commented on #287
@matrix4123 the point behind https://github.com/cisco/node-jose/issues/109 was fixing inconsistency - it was importing the key but not finding it by its wrong typed key id. Matthew went with a non-breaking fix that coarsed the values when not according to spec.

My [library](https://github.com/panva/jose) doesn't need to do that because it is consistent in its behaviour - it does not support wrong

[2020-09-09 05:47] #287 closed

[2020-09-11 13:30] panva commented on #206
DPoP is now supported by the openid-client API, released with v4.1.0

[2020-09-14 16:31] brianpooe opened #291 "Module '"crypto"' has no default export"
[
![Screenshot 2020-09-14 at 18 27 04](https://user-images.githubusercontent.com/13939613/93112633-87253780-f6b8-11ea-9d4e-ab6f558401c5.png)
](url)

**Expected behaviour**
Not throw an error when program starts.

**Environment:**
Nestjs 7
 "openid-client": "^4.1.0",
 node v12.18.3

**Additional context**
Add any other context about the problem here.

 - [x ] the bug is happening on latest openid-c

[2020-09-14 16:39] panva commented on #291
Might be a tooling issue. Based on what's in the issue i can't help, nor can i reproduce.

[2020-09-14 16:54] brianpooe commented on #291
Thanks for the swift response but not sure what you mean by tooling, this is a nodejs environment and dependencies are built the same throughout its framework counterparts. If it helps this is typescript.

But i noticed your library does support types so not sure what is the issue.

[2020-09-14 16:59] panva commented on #291
I’m no ts expert but both jose (in its types) and crypto (through @types/node) do have default exports.

Hence me saying this is likely a tooling issue on your end, a tsconfig one maybe?

[2020-09-14 16:59] #291 closed

[2020-09-14 17:34] panva commented on #291
I've pushed a small change, see if it helps.

[2020-09-14 17:52] brianpooe commented on #291
I was about to do a pull request for this. Thanks.

[2020-10-06 04:09] taxcycle opened #296 "acr_values not passed to auth request"
I understood from this post:

"The authenticate call on your init route accepts additional parameters to pass to the auth. request.

_Originally posted by @panva in https://github.com/panva/node-openid-client/issues/81#issuecomment-371926921_"

That the following code should work to add acr_values to the auth call:
app.get('/auth', (req, res, next) => {
      passport.authenticate('oidc', { acr_va

[2020-10-06 07:27] panva commented on #296
Hi @taxcycle, I have tests in the project's test suite telling me it does. If you want either provide a failing test case or a sample code I can effortlessly run.

[2020-10-06 07:27] #296 closed

[2020-10-07 05:29] ktikku opened #297 "I like to fetch multiple access tokens for multiple resources provided by my Identity Provider"
I'm using **openid-client** package to perform **OIDC authentication with Azure AD**.
Azure AD provides multiple access tokens for multiple resources (like Microsoft Graph: https://graph.microsoft.com
Microsoft 365 Mail API: https://outlook.office.com)
How can I **fetch and maintain multiple access tokens** via openid-client package?

[2020-10-07 05:39] panva commented on #297
@ktikku that's a question of when and what parameters to include to the basic protocol requests. I am unable to tell you the specifics for AAD.

[2020-10-07 05:39] #297 closed

[2020-10-08 10:10] Cyben opened #298 "openId-client Strategy"
The use of Strategy is not so clear, I tried to use the Strategy of this lib with no real success.
I there a way for giving a code example for using it (Couldn't find anywhere something about it).
It will really help.

[2020-10-08 10:14] panva commented on #298
The use of this strategy is the same as any other strategy, with the exception of its constructor. I do not mean to supplement Passport documentation here in this repo.

If you're not sure how to use passport strategies, maybe consider not using passport at all, maybe something [like so](https://github.com/auth0/express-openid-connect) will be more fitting for your use.

[2020-10-08 10:14] #298 closed

[2020-10-09 12:00] RALGIE opened #299 "Initiating Login from a Third Party"
Hello,

Great work on this module :) I have the following question. Does this module support Initiating Login from a Third Party (https://openid.net/specs/openid-connect-core-1_0.html#ThirdPartyInitiatedLogin).

I want to use this to authenticate an Public Mobile App. I have multiple dynamic OpenId Providers to authenticate the User.

[2020-10-09 12:03] panva commented on #299
Third Party Initiated Login is something you build into a specific route that initiates functionality of an openid client. I don't see what this client could be bringing there.

[2020-10-09 12:03] #299 closed

[2020-10-12 04:01] NikhilDeshmukh045 opened #300 "OPError: invalid_client (Invalid JWT token)"
I am getting the above error for in a client.grant() function at https://github.com/panva/node-openid-client/tree/master/docs#clientgrantbody-extras , and it looks like error is related to clientAssertionPayload.

[2020-10-12 04:05] NikhilDeshmukh045 commented on #300
Below are code snippet which I am using currently.
const payload = {
            iss: clientId,
            sub: clientId,
            iat: issuedAtTimeSeconds,
            exp: expirationTimeSeconds,
            aud: url,
            jti: Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 12)
        };
const clientAssertion = await client.requestObject(payload);

[2020-10-12 06:04] #300 closed

[2020-10-12 06:06] panva commented on #300
Request Object and Client Assertion is not the same. Your IDP rightfully rejects your token call.

[2020-10-12 06:36] NikhilDeshmukh045 commented on #300
@panva I also got the same error when I am creating client assertion using a custom function(not using requestObject). I am passing Client Assertion created by custom function at clientAssertionPayload field of the Grant function of Client. Then also getting the same error. I want to ask is I am following correct approach or not?

[2020-10-12 07:06] panva commented on #300
Consult your IdP. As is i cannot help due to lack of details about what you're trying to do.

[2020-10-13 19:50] ddolcimascolo opened #301 "Weird issue since v4"
Hi @panva

I have a strange issue since v4. I can't guarantee 100% that it started with v4 but timings match.
We have random errors happening and looking at the stackstrace I can't even narrow where the problem comes from... Random like in:
* Happens "sometimes" but regularly
* Not always on the same Node.js instance
* Not everytime at the same hour of day

Stacktrace
[code]

I understand _what_ t

[2020-10-13 20:19] panva commented on #301
Hi David,

Apologies but I don't think i can help with networking level issues. There's nothing in the lib that would call localhost, unless being told to by configured/discovered (hint) endpoints.

[2020-10-13 20:19] #301 closed

[2020-10-13 21:46] ddolcimascolo commented on #301
Hi again,

I'm currently tracking down the problem to the got library that you're using. In v4 you bumped it to v11 and got v10 indeed caused similar troubles to people, with unexpected requests to localhost... See https://github.com/sindresorhus/got/issues?q=127.0.0.1

Apparently this is caused by a messy dependency in my tree that is patching a core node.js function, which still wouldn't explain

[2020-10-14 07:15] ddolcimascolo commented on #301
Gotcha

[code]

See https://github.com/TooTallNate/node-agent-base/issues/35 and https://github.com/puppeteer/puppeteer/issues/5230 for some context. Hope this helps someone in the future !

[2020-10-16 17:51] delfuego opened #302 "login.gov, private_key_jwt, and client_assertion iat"
I'm testing using this library in order to build an OIDC login workflow with login.gov (largely following [this example](https://github.com/18F/identity-oidc-nodejs-express)), and could get all the way through the login process but was never ending with a successful login. After debugging, I was seeing that the login.gov token endpoint was returning an error saying that the `iat` property of the `

[2020-10-16 17:53] panva commented on #302
Seems like clock tolerance is what login.giv needs.

[2020-10-16 17:53] #302 closed

[2020-10-16 17:55] panva commented on #302
And you don't need to fork, you can use the clientAssertionPayload option of whatever method you're using to set your iat.

[2020-10-16 18:02] panva commented on #302
Furthermore while iat in the past makes sense logically, it isn't a normative requirement anywhere. And its redundant when exp is also part of the jwt.

[2020-10-16 18:36] delfuego commented on #302
Hmmm -- I'll look into that, @panva. I'm currently just using your Passport strategy directly; tracking back where I have the opportunity to set the clientAssertionPayload, it looks like it's at the time I construct the Strategy. Which means I can't dynamically set an iat in the clientAssertionPayload, unless I'm missing something.

[2020-10-16 18:38] panva commented on #302
Try without passport. It'll be worth it ;)

[2020-10-16 18:39] delfuego commented on #302
Is there an example anywhere of how to use it in an Express app without using Passport?

[2020-10-16 18:42] panva commented on #302
No copy paste development in this repo. Sorry.

[2020-10-16 18:43] panva commented on #302
https://github.com/panva/node-openid-client#authorization-code-flow

This should be enough for anyone to apply to <insert framework>

[2020-10-26 16:23] blake-mealey opened #304 "How do I sent a state parameter in the authorization request?"
I'm struggling to find a built-in way to send a `state` parameter in the authorization request. My provider (Okta) requires it for the implicit flow.

I am able to workaround this by manually adding the query parameter to the URL:

[code]

This feels pretty hacky and I know I must be missing something but I haven't found any related properties in the docs.

[2020-10-26 16:28] panva commented on #304
<img width="1058" alt="Screenshot 2020-10-26 at 17 27 07" src="https://user-images.githubusercontent.com/241506/97199687-91a31880-17b0-11eb-91d4-b6d300b89a3e.png">

[2020-10-26 16:28] #304 closed

[2020-10-26 16:32] blake-mealey commented on #304
🤦‍♂️ Thank you.

Would you consider adding `state` as an optional parameter in the options object for TS users? I can open a PR if you'd like

[2020-10-26 16:32] panva commented on #304
sure, seems like it was omitted by mistake.

[2020-10-27 21:05] FaizRasool opened #306 "OpenApi / swagger codegen and open id client"
Hi i have a bit of challenge:

I need to use the open id client somehow in conjunction with openapi or swagger base generated client.

Any suggestions for best approach?

I am playing with this libraries:

"https://github.com/ferdikoomen/openapi-typescript-codegen"

It gives me a model and service to make a resource request but ideally i want somehow it helps me rather construct the object and giv

[2020-10-27 21:14] panva commented on #306
Apologies, none

[2020-10-27 21:14] #306 closed

[2020-10-30 16:32] p3pp8 opened #307 "Proxy setup and Meteor support"
Hello, finally i've managed to upgrade my Meteor project to version 1.11 that supports Node v12 and upgraded to OpenId Client 4.2.1, but, after upgraded and run my app i've faced 2 main issues, **the first** is that i can't use **request** client anymore, and that was necessary as my app is behind a proxy, **the second**  is on discovery function that ignores my remote config and try to connect to

[2020-10-30 16:44] panva commented on #307
https://github.com/panva/node-openid-client/blob/master/docs/README.md#customizing
https://github.com/sindresorhus/got#agent
https://github.com/sindresorhus/got#proxies

Request is gone, no way around that, you should set up your proxy agent with got using the http customization option.

[2020-10-30 16:44] #307 closed

[2020-10-30 16:57] p3pp8 commented on #307
Thank you!

[2020-11-01 23:32] read-only-man opened #308 "customize http status code when redirect by passport authentication"
When callback
using passport strategy in xhr
`if (Object.keys(req Params).length === 0)`
it send auth request again
but redirect didn't work.
Because it is xhr

Passport redirect function syntax allows status parameter.

`strategy.redirect = function(url, status) `

So I want to pass redirect status at OpenIDConnectStrategy.prototype.authenticate.

(e.g )
[code]

that way I can manage redirect pat

[2020-11-02 08:03] panva commented on #308
Isn't that just because your XHR client "follows" redirects? fetch does this by default, set it to manual and you'll be able to get the 302 response and its location header. Then you can handle redirection on your end.

[2020-11-02 08:03] #308 closed

[2020-11-02 09:06] p3pp8 commented on #307
Can't test whether the proxy override code works or not as the discovery using .well-known config fails for the "well-known" GOT bug:

[code]

Any other suggestion?

Thanx in advance!

[2020-11-02 09:12] panva commented on #307
I am tracking no bugs around discovery. [This](https://github.com/panva/node-openid-client/issues/301#issuecomment-708027004) could be related but is more likely your proxy is in the way.

[2020-11-02 10:25] p3pp8 commented on #307
That happens **before** creating the client, so the proxy server can't be the problem, it's raised on:

[code]

I think proxy setup is done after a client instance is created, but probably i'm missing something... Can it be configured directly on Issuer before calling the discovery function?

Thank indeed for your help!

[2020-11-02 10:27] panva commented on #307
Yes it can, and its in the docs i've shared.

[2020-11-02 10:39] p3pp8 commented on #307
Sorry, got it! thanx!

[2020-11-02 17:15] p3pp8 opened #309 "ECONNREFUSED"
Sorry to boring you again, i managed to setup a custom proxy agent and let the flow go ahead till the client.callback function call where i pass the redirect_uri and params(session_state and code) to it to obtain the token and unfortunately this is the result:

[code]

To get more info i've added a hook on the `afterResponse` event and printed out headers and body from response and, surprisingly,

[2020-11-02 17:19] panva commented on #309
This is all related to the incomplete proxy setup. Did you also set the proxy up on the `issuer` instance object?

I'm guessing here since this isn't enough for me to be sure - you're not including any call identifiers, traces or similar.

The client is working with the response it gets from the token endpoint and the first time its about to verify the ID Token it goes and fetches the issuer's `jw

[2020-11-02 17:19] #309 closed

[2020-11-02 17:20] panva commented on #309
Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this and the previous support was of help to you. Supporting the library means, amongst other things, that such support will be available to you in the future.

[2020-11-04 10:02] read-only-man commented on #308
thank you

[2020-11-09 19:01] MohammedKevin opened #310 "Function Callback/ Query Params"
Is it possible to provide a function callback to the client which gets called right before the user gets redirected / the authentication flow starts?

Because one of the entry points of my application includes query parameters and I want to store this query parameters in the session with / under the state key. When the user gets redirected to the application again I can read the session value with

[2020-11-09 19:59] panva commented on #310
You can only be asking about the Passport strategy I presume (very much light on the details here). No, there's no callback, but you can trigger the authenticate call with state you've prepared. Then it's just a matter of orchestrating your passport call.

[2020-11-09 19:59] #310 closed

[2020-11-09 20:40] npeham commented on #310
@panva I have exactly the same problem as @MohammedKevin described.

@panva Can you maybe post the function with which I can trigger the authenticate call? Do you have an example? That would be very nice, thank you! :pray:

[2020-11-09 20:44] panva commented on #310
passport.authenticate('oidc', { state: "🤷‍♂️🤷‍♀️"})(req, res, next);

[2020-11-17 12:34] deepaksrgm2010 opened #311 "JWT validation for id token throws if the authorized presenter (azp field) is not defined if there are multiple audiences"
Currently ,
JWT validation does not seem to account for azp field not being defined when there are multiple audiences defined.

according to the specs
- http://openid.net/specs/openid-connect-core-1_0.html#IDToken
[code]

- 3.1.3.7. rule 4 states

`"If the ID Token contains multiple audiences, the Client SHOULD verify that an azp Claim is present"`
This is a SHOULD ,hence recommended, but not a MU

[2020-11-17 13:02] panva commented on #311
1. As a certified software this client MUST exhibit this behaviour.
2. SHOULD doesn’t mean that an implementation is free to ignore a requirement because it doesn’t feel like honouring it.

[2020-11-17 13:02] #311 closed

[2020-11-17 13:25] deepaksrgm2010 commented on #311
Thanks for your quick and clear response @panva!

I am not sure, if all other [certified libraries](https://openid.net/developers/certified/) exhibit the same behaviour.
It looks like the following certified libraries do not enforce an azp to be present on multiple audiences.
Examples:
- `Apache mod_auth_openidc 2.3.1`:
[File](https://github.com/zmartzone/mod_auth_openidc/blob/a9a85193722e9a46a216

[2020-11-17 13:34] panva commented on #311
If and when there's finally an errata published about this i will revisit the topic. Until then the client will honour the SHOULD.

[2020-11-17 13:39] deepaksrgm2010 commented on #311
Thank you :)

[2020-11-25 06:46] codebling opened #312 "TypeError: Cannot read property 'includes' of undefined"
**Describe the bug**

[code]

**To Reproduce**
Initialise a Passport.js Strategy using `openid-client`.
When creating the new Client, include more than one response type in `response_types`
[code]
When creating the new Strategy, do not specify `response_type` in `options.params`, or specify no options.
[code]

**Expected behaviour**
No TypeError.

**Environment:**
 - openid-client version: v4.2.1

[2020-11-25 12:00] panva commented on #312
Either specify a configuration value for usePKCE, which when not provided tries to default get enabled based on the response_type. But response_type is only only "resolved" when there's a single one.

So, either just
- set usePKCE to a value
- provide a single response type
- provide the params object with a response type

Either way you'll have to be providing it at authenticate time...

I think

[2020-11-25 16:54] codebling commented on #312
Thanks for the quick response. There's absolutely no pressure on my end, I am just poking around a little. I've done OpenID before, but not in as detailed a fashion and never with this library, so many of the terms are new to me. I'm really just reporting as the behaviour seemed somewhat incorrect, I'm not blocked in any way, feel free to close.

[2020-11-26 13:06] chaptergy opened #313 "Request is sent to localhost instead of correct url"
**Describe the bug**
Client sometimes sends a request to `https://localhost` even though the passed in URL is different (e.g. `https://redacted.domain.com/auth`)

**To Reproduce**
I have absolutely no idea how to reproduce this problem, since it sometimes happens and sometimes it doesn't while the calls are exactly identical. But once it happens it always happens.

<details>
<summary>Issuer Metada

[2020-11-26 13:07] panva commented on #313
https://github.com/panva/node-openid-client/issues/301#issuecomment-708027004

[2020-11-26 13:07] #313 closed

[2020-11-26 20:06] l1b3r opened #314 "Tree-shake with Webpack to only bundle certain classes"
Hi,
First off, thank you for such an amazing package!

I'm building a server-side solution with `openid-client` (with TypeScript), which is split into separate applications/bundles independent from each other "build-wise", so in the end I have multiple separate `main.js` files with whatever 3rd-party modules each particular app requires.

One of the apps only needs a very little part of `openid-cl

[2020-11-26 20:11] panva commented on #314
If you just need to check if a timestamp is past now, isn't using openid-client an overkill?

Anyway, treeshaking is a matter of tooling, if the exports could be done differently i'm happy to do it unless it's breaking, but i will not be spending time figuring out the how.

[2020-11-26 20:11] #314 closed

[2020-11-30 12:46] #312 closed

[2020-11-30 12:47] panva commented on #312
Fixed in [v4.2.2](https://github.com/panva/node-openid-client/releases/tag/v4.2.2)

Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this support was of help to you. Supporting the library means, amongst other things, that such support will be available in the future.

[2020-12-07 11:59] gtorresani opened #315 "id_token verify JWT Using HMAC SHA-256 (HS256, HS384, or HS512)"
**Describe the bug**

When using the HS256 algorithm to sign the JWT according to the specifics of OpenId-Connect, the signing key must be the octets of the UTF-8 representation of client_secret.
However the client_secret is currently base64url encoded.

[https://openid.net/specs/openid-connect-core-1_0-13.html#IDTokenValidation](https://openid.net/specs/openid-connect-core-1_0-13.html#IDTokenVali

[2020-12-07 12:06] panva commented on #315
client_secret values are not base64url encoded, they are the actual utf-8 octets to use. The behaviour exhibited by openid-client is correct and has been confirmed with the openid foundation conformance software as well as years of actual usage.

Only when representing a client_secret as an `oct` JWK needs the value of the client_secret be additionally base64url encoded, that comes from the JWK sp

[2020-12-07 12:06] #315 closed

[2020-12-07 12:29] gtorresani commented on #315
Thank you for your quick response

Indeed I find the results of the tests however no test is carried out with the HS256 algorithm, only the RS256 algorithm is tested during the certification.

Otherwise why the JWT in the example of RFC 7515 does not work by performing a base64UrlEncode of client_secret while it works without base64UrlEncode.

[2020-12-07 12:32] panva commented on #315
I'm not sure how to properly decode your answer, so let's try differently.

What is the `client_secret` value given to you by your IdP? (generate a new client for this, don't post your actual one).

[2020-12-07 12:42] panva commented on #315
The secret value in the JWK you posted is not a valid client_secret value, it containts invalid char codes. That's why you can't pass just the base64url decoded string value of the "k" property as the secret, because no idp will give you such value as a client_secret

[2020-12-07 12:50] panva commented on #315
The function returns an `oct` JWK representation of the client_secret. In which the octets of a string will be base64url encoded otherwise it's not encoded as a JWK properly. Passing in just the string would yield exactly the same results.

[2020-12-07 14:01] gtorresani commented on #315
Thanks for those details.

So if my client_secret is `aBCD1234,;:-=` the associated OctKey is
[code]
In this case everything works to decode the JWT `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLCJleHAiOjEzMDA4MTkzODAsImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.BOy50CByAmMGzdDnG_vsRm7BuF5uvdKycTc0zVWzHxA`

Thank you for your responsiveness and sorry for my unnecessary request.

[2020-12-07 14:05] panva commented on #315
You got it.

Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this support was of help to you. Supporting the library means, amongst other things, that such support will be available in the future.

[2020-12-14 15:46] GertSallaerts opened #316 "Not able to set a "state" parameter on the authorize request when using the Passport strategy"
**Describe the bug**

The passport strategy goes into "callback"-mode whenever a `state` parameter is found on the current request object. Unless I'm mistaken, this assumption is wrong as the web-application (an SPA in my case) that initiates the "authorize" request is allowed to specify its own state parameter to maintain state between the request and the callback.

**To Reproduce**
This is a dem

[2020-12-14 15:53] panva commented on #316
Hi @GertSallaerts

Passing params from a URL straight into the strategy to initiate authorization with is not intended and not signaled anywhere.

Ad-hoc params are to be passed directly into the passport.authenticate call, e.g. shown [here](https://github.com/panva/node-openid-client/issues/310#issuecomment-724267772).

[2020-12-14 15:53] #316 closed

[2020-12-14 16:04] GertSallaerts commented on #316
Hey @panva

I read that issue and a few related ones and I do not agree that they are addressing the same issue. Maybe my explanation is not clear enough.

I would not expect the strategy to pick up the `state` I pass in my URL automatically, I am aware that I have to do this manually. I would not consider this a bug as it would probably be dangerous for your strategy to trust what is in the URL.

[2020-12-14 16:07] panva commented on #316
I get it, but this behaves as designed, if you pass any "oauth" registered parameters the function will go into the callback phase. All it takes is that you don't use the registered response parameters for "your stuff".

[2020-12-14 16:19] GertSallaerts commented on #316
IMO the flaw in this design would be that `state` is not only a registered callback parameter but is also registered as part of an OAuth authorization request. ([Here for example](https://tools.ietf.org/html/rfc6749#section-4.1.1).)

Which is exactly why we chose to allow passing `state` to our authentication gateway (the application that uses the strategy), so we could build it to be OAuth compat

[2020-12-14 16:24] panva commented on #316
I don't want to change that logic since a `state`-only including response is a valid OIDC response for `response_type=none`.

[2020-12-18 12:55] himanshusinghs opened #317 "Verify callback never invoked"
**Description:**
Here's the code:
[code]

I am expecting the app to hang because I don't call the done in verify callback but it doesn't, instead I receive false as the value of strategyResponse which is unexpected. Is there anything that I might be missing out.

**To Reproduce**
[code]

**Expected behaviour**
App above is supposed to hang up but it proceeds and ends the request with "Not authenti

[2020-12-18 12:59] panva commented on #317
@himanshusinghs the strategy is tried and tested. I can see `{ session: false }` which a) i'm not sure what it does, b) the strategy requires session support.

[2020-12-18 12:59] #317 closed

[2020-12-18 13:16] himanshusinghs commented on #317
@panva Thanks for your prompt reply. Appreciate it.
I have some clarifications to be presented.
a) `session: false` is used to disable sessions, in case you are developing for a REST api which is the case for me. But even if I allow app to use session the problem stays the same.
b) I am not sure that it does. Because for Okta the strategy works fine with the configuration I posted above. It's fail

[2020-12-18 13:42] panva commented on #317
This strategy is for end-user sign-in, not protecting APIs.

[2020-12-18 14:08] himanshusinghs commented on #317
That I know and I am not using it in that way. Post login, tokens are generated and API guards are taken care of separately.
My problem is exactly as I wrote in the original post. Verify callback not being invoked.

I was only hoping to get pointed out for something suspicious, like `session: false` but unfortunately enabling that also doesn't work. I will continue my investigation on this but tha

[2020-12-28 23:10] franleplant opened #320 "RequestError: connect ECONNREFUSED 127.0.0.1:443"
#### Describe the bug

 - Node.js version: 14
 - OS & version: docker/alpine

Using this library through https://github.com/panva/node-openid-client , when making the initial request of the open id connect discovery document it throws this weird error

#### Actual behavior

[code]

#### Expected behavior

This request to work.

This request works

- running the code locally on a lot of developer m

[2020-12-28 23:10] franleplant commented on #320
Any clues to solve this will be highly appreciated

[2020-12-29 06:59] panva commented on #320
There is no bug here, you're simply asking for help diagnose your environment / build issues. Please open a Q&A discussion instead.

[2020-12-29 06:59] #320 closed

[2021-01-08 14:36] agix commented on #320
I have exactly the same issue. Still debugging.

[2021-01-08 15:00] franleplant commented on #320
Check the linked “got” issue, there are further clues there. Tldr: there
are libraries potentially unrelated to openid-client and got that mess up
with the global native Nodejs http(s) clients causing this problems,
updating or removing those problematic libs will fix the problem. It’s
kinda nobody’s fault but a problem in the ecosystem

On Fri, 8 Jan 2021 at 11:36 agix <notifications@github.com>

[2021-01-08 15:04] agix commented on #320
awesome... will be fun to debug :). Thanks for the tips.

[2021-01-08 15:08] franleplant commented on #320
Oh it’s a blast jajajaja

On Fri, 8 Jan 2021 at 12:04 agix <notifications@github.com> wrote:

[2021-01-08 17:23] agix commented on #320
Ok I found it's related to https://github.com/DataDog/dd-trace-js usage in our case

[2021-01-14 13:14] borleth opened #322 "code_challenge_method is not send with the authorize request"
**Describe the bug**

In order to test PKCE on our IDP, we see the code_challenge_method is not send during the first authorize endpoint.
So in reference to the RFC, the IDP need understand it's "plain" challenge, the default value.

**To Reproduce**
Issuer and Client configuration: (inline or gist) - Don't forget to redact your secrets.
[code]

Steps to reproduce the behaviour:

1.
2.
3.

**Expec

[2021-01-14 13:29] panva commented on #322
Hi. I'm closing this issue because it does not follow the template and provides no details as to how you're using the module, not even a understandable description.

[2021-01-14 13:29] #322 closed

[2021-01-20 11:40] dnikomon commented on #320
I am getting this same error running locally. Every other method seems working but `Issuer.discover ` does not.

[2021-01-20 11:47] agix commented on #320
So you have to check all your other libraries, remove it one by one to find out the one who messed up with got.

[2021-01-20 11:49] panva commented on #320
@dnikomon happy hunting!

[2021-01-20 11:53] panva commented on #320
If you don't mind that there's a dependency in your dependency tree that is messing with node's core https request capabilities, go ahead!

[2021-01-20 16:52] agix commented on #320
if you use got to fetch it manually (maybe other http library too) it will do the same.

[2021-01-20 17:25] franleplant commented on #320
also when you do any other thing with the library such as fetching user
info, refreshing the token et al should get into this error so there's no
easy way around it.

Perhaps this lib could be request-library-agnostic and so if people really
want to can replace got for superagent (to say an example).

You can always fork it and do that yourself.

On Wed, Jan 20, 2021 at 1:52 PM agix <notifications

[2021-01-20 17:34] agix commented on #320
Better to track down the one messing with native https requests

[2021-01-20 17:35] panva commented on #320
@franleplant the problem is not with got. It's that e.g. agent-base that one of your dependencies uses patches node https.request. Got just happens to always parse a string url to an URL object that surfaces this problem with agent-base.

[2021-01-20 17:36] panva commented on #320
Libraries identified to this so far (note they may be intrinsic dependencies of yours)

https://github.com/DataDog/dd-trace-js
https://github.com/mailjet/mailjet-apiv3-nodejs
https://github.com/TooTallNate/node-agent-base

[2021-01-20 18:36] franleplant commented on #320
But not all libraries use the same underlying http clients, nevertheless I
agree with you thats better to track down the dep thats causing the problem

On Wed, 20 Jan 2021 at 14:36 Filip Skokan <notifications@github.com> wrote:

[2021-01-20 18:52] panva commented on #320
@franleplant i can guarantee that all libs use the underlying node core https module which this unfortunately designed library is patching.

[2021-01-21 06:36] dnikomon commented on #320
Thank you. We have mailgun-js in dependencies. And it seems it was the only package causing problems in our case.

`"mailgun-js": "^0.22.0",`

[2021-02-11 13:41] dnikomon opened #331 "Minor not exact types"
**Describe the bug**
[code]

usePKCE & sessionKey have same annotation

`function OpenIDConnectStrategy({
  client,
  params = {},
  passReqToCallback = false,
  sessionKey,
  usePKCE = true,
  extras = {},
} `

Also usePKCE default is true in code and false in documentation

`export type StrategyVerifyCallbackReq<TUser> = (req: http.IncomingMessage, tokenset: TokenSet, done: (err: any, user?: TUs

[2021-02-11 13:49] #331 closed

[2021-02-11 13:54] panva commented on #331
[`express.Request extends http.IncomingMessage`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/express-serve-static-core/index.d.ts#L292-L298)

[2021-02-11 14:09] dnikomon commented on #331
I'm an idiot so I don't understand how this explains my problem. I need to access session in callback so I have to do casting like `const customReq = (req as unknown) as Request` to access it.

[2021-02-21 10:50] arealmaas commented on #317
It's been a while, but did you find anything @himanshusinghs  😆

[2021-02-25 13:27] mbektchiev opened #336 "Thrown `AggregateError` object contains the JS callstack in its `message`"
**Describe the bug**
When `Issuer.discover` is called with an invalid or wrong URL, the thrown error contains the JS callstack in its `message` property. This is a security issue since many times the error message is being sent to the end-users of a product.

**To Reproduce**
Issuer and Client configuration: (inline or gist) - Don't forget to redact your secrets.
[code]

Steps to reproduce the beh

[2021-02-26 15:17] #336 closed

[2021-02-26 15:19] panva commented on #336
Not a security issue in the lib per se, it's an issue in your code if you return any code generated exceptions to users in the first place.

Nevertheless, i've filtered out the stack from AggregateError instances. Released in v v4.4.1

[2021-03-01 08:36] mbektchiev commented on #336
Thank you for the fix, @panva!

[2021-03-09 15:02] dsrvasanth opened #342 "Request is not marked as authenticated after successful authenticaiton"
Hi @panva, i was following one of your sample
https://github.com/panva/node-openid-client/issues/195#issuecomment-555010892, and modified slightly to include logout handler and file based session store as given below. It looks like some race condition is going on, and in the login callback successRedirect call the req object is not marked as authenticated.

'use strict';

const util = require('uti

[2021-03-09 15:04] #342 closed

[2021-03-25 12:56] panva commented on #259
[v4.6.0](https://github.com/panva/node-openid-client/releases/tag/v4.6.0) now supports [draft-ietf-oauth-par-06](https://tools.ietf.org/html/draft-ietf-oauth-par-06).

[2021-03-26 09:34] fraadsbrandth opened #348 "client_secret_jwt broken using Azure as Provider > 4.5.1"
**Describe the bug**
When upgrading to version > `4.5.1` we get an error from Azure when the token-request is done. `AADSTS50027: JWT token is invalid or malformed.` I have investigated and found out that the `JWT` here is the `client_assertion` sent in the token request since we use `client_secret_jwt`.

Now that the `audience` is a list with both issuer & token_endpoint Azure rejects the request

[2021-03-26 09:37] panva commented on #348
You can. see the `extras.clientAssertionPayload` option on all calls where client authentication takes place.

[2021-03-26 11:07] fraadsbrandth commented on #348
Thanks @panva! I missed that option. I needed two tries, but now it works with latest version :)

[2021-03-26 11:07] #348 closed

[2021-03-26 13:37] panva commented on #348
@fraadsbrandth happy to help.
Please consider [supporting](https://github.com/panva/node-openid-client?sponsor=1) the library if it provides value to you or your company and this was of help to you. Supporting the library means, amongst other things, that such support will be available in the future.

[2021-03-30 12:03] kannann1 opened #349 "Package subpath './lib/index.js' is not defined by "exports""
**Describe the bug**

When using Issuer from the openid-client, getting below error in AWS Lambda Node Version 12.x and 14.x runtime.

`Package subpath './lib/index.js' is not defined by \"exports\" in /var/task/node_modules/openid-client/package.json"`

**To Reproduce**
Issuer and Client configuration: (inline or gist) - Don't forget to redact your secrets.
[code]

Steps to reproduce the behaviou

[2021-03-30 12:08] panva commented on #349
Can you provide the specific `process.version` numbers? Thank you.

[2021-03-30 12:24] dicolasi commented on #349
![Screenshot 2021-03-30 at 13 20 26](https://user-images.githubusercontent.com/54740533/112987944-2f818180-915b-11eb-84a7-bf1bee51c9b8.png)
@panva  that is the only logs I can see in CloudWatch. Where do I find the process.version?

[2021-03-30 12:25] panva commented on #349
You need your application to log it.

[2021-03-30 12:46] panva commented on #349
I can't reproduce your issue on these node versions. Can you log the actual error stack trace?

[code]

[2021-03-30 13:33] panva commented on #349
How are you requiring the package again? Your original message is different from this one.

[2021-04-28 08:28] sapirel opened #362 "CVE-2021-29444 - jose vulernability"
When I upgraded Jose to version v3.11.4 according vulnerabilities document  suggestion(CVE-2021-29444),
I got the following error from node-openid-client libary (v4.7.2):

Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main defined in /app/node_modules/openid-client/node_modules/jose/package.json

It seems that openid liary doesn't support Jose v3.11.4.
Can u update the Dependency  "Jose" ver

[2021-04-28 08:31] panva commented on #362
`openid-client` works with `jose` version v2.x, you do not need to install `jose` separately to resolve the vulnerability, simply run `npm audit fix` and the latest version of `jose` v2.x will be installed for openid-client to use.

[2021-04-28 08:31] #362 closed

[2021-04-28 08:40] sapirel commented on #362
HI,
Thanks for your answer.
but I tried it, and our Aqua still recognized vulnerability in Jose version v2.0.5
I attached pritscreen

![Screen Shot 2021-04-28 at 11 38 35](https://user-images.githubusercontent.com/79859148/116373852-6c05d300-a816-11eb-9c86-17f275ae1e53.png)

[2021-04-28 08:43] panva commented on #362
Fair enough, but then please look at the CVE, whatever "Aqua" is, it's wrong. Here are the [advisories](https://github.com/panva/jose/security/advisories) for the respective packages.

What i see in your printscreen is just plain wrong.

[2021-04-28 08:46] sapirel commented on #362
Thanks!!! I'll update our customers

[2021-05-10 03:15] ragkr906 opened #364 "dependency library vulnerability (jose)"
There is a vulnerability on the jose package as below.
as the resolution is to upgrade to the latest version of jose, pls. advise if the base pacakge node-openid-client will be updated to include the latest.

CVE-2021-29444

jose-browser-runtime is an npm package which provides a number of cryptographic functions. In versions prior to 3.11.4 the AES_CBC_HMAC_SHA2 Algorithm (A128CBC-HS256, A192CBC-

[2021-05-10 06:11] panva commented on #364
Your vulnerability report is invalid. All you need is to run "npm audit fix" to ge to the latest of v2.x of "jose".

The relevant advisory is https://github.com/panva/jose/security/advisories/GHSA-58f5-hfqc-jgch

[2021-05-10 06:11] #364 closed

[2021-05-10 06:15] panva commented on #364
Kindly let me know which tool reported this invalid advisory...

[2021-05-11 10:34] ragkr906 commented on #364
checkmarx - the tool that reported this issue.

[2021-05-11 10:43] panva commented on #364
Then please reach out to the devs to fix their CVE parsing/imports. CVE-2021-29444 does not affect openid-client at all. 2.0.5 of jose which you can resolve to with a simple npm upgrade or npm audit fix is not vulnerable.

[2021-05-14 05:43] ragkr906 commented on #364
thanks. btw to confirm we already are using 2.0.5.

[2021-05-18 20:39] naomigrace opened #366 "Quick Start example with Issuer.discover not working after 4.0.0"
Running the following quick start code in isolation does not return an issuer in 4.0.0 or the latest version (4.7.3). Downgrading to 3.15.10 for now.

[code]

[2021-05-18 20:48] panva commented on #366
`¯\_(ツ)_/¯`

[code]

Gonna close this for lack of detail.

[2021-05-18 20:48] #366 closed

[2021-05-18 20:53] naomigrace commented on #366
I'm running the quick start code above in a sandbox environment. These are my dependencies:
[code]

And this is the console output I get---no issuer information logged.
[code]

[2021-05-18 21:01] panva commented on #366
[code]

[2021-05-18 21:07] naomigrace commented on #366
Still not getting that output on the latest version. I don't know what other information I can give you other than that version 3.15.10 does produce that output.

[2021-05-18 21:08] naomigrace commented on #366
One last thing though, when I'm off of VPN I get this:
[code]

[2021-05-18 21:30] naomigrace commented on #366
Resolved: Updating to the latest version of node resolved this issue. I was on v14.10.0 so if anyone is on that, I would find a different version.

[2021-05-25 16:34] ffilipus opened #368 "Client requestResource method did not contain PATCH method"
Hello,
I'm using openid-client version 4.7.3 with typescript and API I'm connecting needs http PATCH method. It's missing in `index.d.ts`.
[code]

Is it intentional? Thanks

[2021-05-25 16:43] panva commented on #368
not intended, feel free to submit a PR.

[2021-05-25 16:43] #368 closed

[2021-06-03 20:11] gwumkt opened #372 "Getting invalid token after grant"
![image](https://user-images.githubusercontent.com/28900951/120705804-f1893c80-c4c0-11eb-8a42-c7faf3720ba7.png)

the log of userinfo is "invalid_token (invalid token provided)" although i just make the grant.

my actual goal is to save the access token in memory and to be able to know later what is his grantType

[2021-06-03 20:35] panva commented on #372
You need to take this up with your idp.

[2021-06-03 20:35] #372 closed

[2021-06-03 21:21] gwumkt commented on #372
What does it means?

[2021-06-11 17:37] NotMyself opened #374 "Update to got@11.8.2"
**Describe the bug**

The current version of got has updated dependencies.

[2021-06-11 17:42] panva commented on #374
You can update your dependency tree with 'npm upgrade --depth 9999'.

[2021-06-11 17:42] #374 closed

[2021-06-11 17:50] NotMyself commented on #374
Perfect thanks!

[2021-06-25 08:10] PaulSzymanski opened #377 "Mandatory state check"
**Describe the bug**
If `state` is present in response, `Client.callback` and `Client.oauthCallback` require `checks.state`.

https://github.com/panva/node-openid-client/blob/v4.7.4/lib/client.js#L395-L397

**Expected behaviour**
At least with response type of `code` this check should be optional.
This is only mandatory for implicit flow responses: https://openid.net/specs/openid-connect-core-1_0.

[2021-06-25 10:08] panva commented on #377
This is intended behaviour. If you used state with the authorization request, you are expected to verify it on the callback.

[2021-06-25 10:08] #377 closed

[2021-06-29 08:21] PaulSzymanski commented on #377
Can you please elaborate?
Verifying is not mandatory for all scenarios.

[The OAuth 2.0 Security Best Current Practice](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics-13#section-3.1) states that this is not mandatory for redirect-based flows

   and the authorization server supports PKCE, clients MAY opt to not
   use "state" for CSRF protection, as such protection is provi

[2021-06-29 09:04] panva commented on #377
@PaulSzymanski the BCP says that you may opt to not use "state" for CSRF protection, yes, but it does not alleviate the need to verify the "state" value you receive back is identical to the one sent in. That's how "state" is defined.

Verifying is mandatory for all cases when you sent a "state" in.

For schemes other than "what is sent in is what comes out" or cases where you use "state" to carry

[2021-07-01 09:48] ktikku opened #378 "Issuer.discover is returning a spread string"
**Describe the bug**
The request call inside the `Issuer.discover` method is returning a `string` instead of the `object`, which in turn is getting spread by the spread operator.

code from issuer.js
[code]
The `body` is coming as `string` instead of `object` as expected.
Which is then getting spread in the below code, hence the bug.

[code]
**To Reproduce**
Well Known Configuration link generated

[2021-07-01 11:17] panva commented on #378
@ktikku this works just fine, it's one of the core functionalities and it is well tested. I am unable to reproduce your issue. Issuer.discover as documented returns a Promise that is resolved with an Issuer instance.

[code]

[2021-07-01 11:17] #378 closed

[2021-07-07 09:32] warrickw commented on #378
I don't have anything helpful to add reproduction wise, but I'm experiencing this too. This makes the resolved discoverer useless since it's not correctly loading properties like authorization_endpoint.

I suspect this is a problem for me due to my use and/or configuration of typescript. Other parts of the library are behaving erratically, even if I sidestep this issue by manually initializing an

[2021-07-08 09:18] ktikku commented on #378
Hi @panva, Thanks for your reply 😄

I further investigated the issue.
I did my setup again (installing dependencies) and tried.
I noticed a couple of things

1.  the library is creating a couple of `well known metadata` uris and one of those aren't valid, hence I'm getting the error.
2.  also, for the valid `well known metadata` url, I'm getting the following error

`OPError: expected 200 OK with

[2021-07-08 10:13] panva commented on #378
@ktikku I can reproduce the issue, but it seems to be related to a node.js version, not the library. Upgrading to latest v14 (v14.16.0) the issue is gone.

[2021-07-08 10:35] ktikku commented on #378
ya, just checked, it's working fine now.
Thanks for the assistance @panva  😄

[2021-07-09 06:15] matt-hahn opened #380 "OPError: invalid_client (Unauthorized grant type: refresh_token)"
**Describe the bug**
We are using openid-client to deal with our auth provide. All the functions work great except `client.refresh`. When we call this, we get the following error:
[code]
We tried explicitly setting the `grant_type` multiple ways:
1. Setup `grant_types: ['refresh_token']` when initializing the `client`
2. Use `client.grant` to set the `grant_type` and `refresh_token` values

All co

[2021-07-09 06:26] panva commented on #380
This is an error from your OP.

[2021-07-09 06:26] #380 closed

[2021-08-23 07:45] roderik opened #392 "CVE warnings for the jose dependency"
**Describe the bug**

This package depends on an older version of jose, which has issued 2 CVE for anything below version 3.11.4

https://nvd.nist.gov/vuln/detail/CVE-2021-29445
https://nvd.nist.gov/vuln/detail/CVE-2021-29446

[2021-08-23 07:53] panva commented on #392
#364 #362 the cve you link is not for the "jose" module, please read carefully and ditch whatever tool reported this to you - it is incorrect.

[2021-08-23 07:53] #392 closed

[2021-08-27 04:30] barryhagan opened #397 "Add sub to type definition of IntrospectionResponse"
**Describe the bug**

The type definition of `IntrospectionResponse` does not include `sub` as an explicit property.   This is an optional top-level member per RFC7662 and would be nice to have it typed.

**To Reproduce**

Steps to reproduce the behaviour:
[code]

**Expected behaviour**

[code]

**Environment:**
 - openid-client version: 4.7.4
 - node version: v16.5.0

**Additional context**

[2021-08-27 05:49] #397 closed, assigned to nobody

[2021-08-29 13:09] goldsam opened #399 "Add support for certificate chain validation"
### Discussed in https://github.com/panva/node-openid-client/discussions/389

I couldn't find support for certificate chain validation anywhere, but the lack of this capability represents a critical security vulnerability. A JKW from a JWKS should not be trusted if it provides a key chain and it can not be validated.

<div type='discussions-op-text'>

<sup>Originally posted by **goldsam** August 1

[2021-08-29 13:12] #399 closed

[2021-09-09 15:13] javigonz opened #402 "Setting `client_secret` to an empty string does not comply with standards"
**Describe the bug**
We are working in a provider which only supports `client_secret_post` or `client_secret_basic` for the token endpoint auth methods, and the authorization code grant which does not use a `client_secret` parameter.

As it said in the offical OAuth 2.0 Authorization Framework documentation (https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1), **The client MAY omit the pa

[2021-09-09 15:27] panva commented on #402
This makes little sense to me. If you don't have a secret issued use the token_endpoint_auth_method client property `none`. Otherwise, secret is required.

[2021-09-09 15:27] #402 closed

[2021-09-09 15:28] panva commented on #402
https://github.com/panva/node-openid-client/blob/main/docs/README.md#client-authentication-methods

[2021-09-10 06:42] javigonz commented on #402
According to your documentation, as described in [RFC6749](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1), `client_id`and `client_secret` are required but Client may omit `client_secret` if is a empty string, so I think that you are not according with the official documentation.

[code]

[2021-09-10 08:21] balazsorban44 commented on #402
@panva is correct here, it might be due to `next-auth` not exposing an option you need. I'll look into how we could expose all relevant `openid-client` options on our side.

This lib is fantastic! 🙏

[2021-09-10 10:28] MonoAnji opened #403 "Problem with esbuild 0.12.26"
**Describe the bug**
When updating to esbuild 0.12.26 running an application that uses the openid-client the application crahses with:
[code]

**To Reproduce**
Probably any project that  updates to the new esbuild version?

Steps to reproduce the behaviour:

1.  Build
2.  Run in node

**Expected behaviour**
I expect the application not to crash ;)

**Environment:**
 - openid-client version: 4.7.5

[2021-09-10 10:40] panva commented on #403
There are no dynamic requires in this library's code. Apologies but this isn't something I can provide support on. This is a node-only package, why do you bundle it in the first place?

[2021-09-10 10:40] #403 closed

[2021-09-10 10:47] MonoAnji commented on #403
It's running only in node (svelte-kit hook, thus server side only), i use it for some communication with keycloak. Maybe I mistook this issue for something it's not, just noticed that it's caused by requires in issuer.js, if that's a valid problem is something I don't know, could well be an issue in the new esbuild version.
Sorry that I bothered you with that. I shall not use the new esbuild for n

[2021-09-10 11:02] panva commented on #403
@MonoAnji you did not bother at all. I hope you can find the cause of your trouble eventually and come back with a hint for others towards what the problem was.

[2021-09-14 00:16] alexlindsay opened #404 "Issuer initiates with proxy but issuer client can't complete calls"
**Describe the bug**
I'm able to set up my issuer with our proxy agent and get the client after the "discover" call, but when the issuer client calls the callback method with my oidc redirect url  I get an error as follows:

RequestError: Timeout awaiting 'request' for 3500ms

I've tried changing the timeout of our issuer's options but it always stays at 3500ms. It seems our issuer client isn't ca

[2021-09-14 02:21] marcbachmann commented on #404
Thanks for the heads up. I also just needed to configure that.
I've directly used the global option after running into the issue where I've only configured the client.

[code]

[2021-09-14 04:35] panva commented on #404
Changing Issuer class options does not affect client instance options. You're using a granular control setting rather than a global one.

https://github.com/panva/node-openid-client/blob/main/docs/README.md#customizing

Behaves as expected.

[2021-09-14 04:35] #404 closed

[2021-09-17 15:03] michaelpinnell commented on #392
I may be a bit off base here, but I'm confused by what you mean when you say it's not referring to the jose module mentioned in the CVE, when the 3.11.4 version of jose @roderik mentioned directly states that it resolves those CVE issues
<img width="1114" alt="Screen Shot 2021-09-17 at 10 56 50 AM" src="https://user-images.githubusercontent.com/5093204/133805286-d86c254e-148f-451c-a06d-6bd51c916a6

[2021-09-17 15:05] michaelpinnell commented on #392
As a secondary follow-up I'm curious if the number of breaking changes between 1.28.1 and 3.11.4 make an update prohibitively difficult

[2021-09-17 15:08] panva commented on #392
@michaelpinnell read the cve details. They contain the package names and fixed versions for each.

[2021-09-17 15:20] michaelpinnell commented on #392
Ah gotcha, so its because the issues are with the smaller jose-node-cjs-runtime, jose-node-esm-runtime, and jose-browser-runtime packages specifically, but don't impact the larger universal module?  Sorry if I'm being obnoxious, just trying to get my ducks in a row before disputing the security tool we use

[2021-09-17 15:23] panva commented on #392
https://github.com/panva/jose/security/advisories/GHSA-58f5-hfqc-jgch is the only advisory affecting the "jose" module. The other three are for specific runtimes. You can see the patched versions are different in these because they only started being released in v3.x

[2021-09-20 18:59] bifurcation opened #406 "update DPoP to an updated draft"
**Describe the bug**
I attempted to create a simple client/server example of DPoP usage, using node-openid-client and node-oidc-provider.  The client logs in using DPoP, then attempts to fetch `userinfo`.  The `userinfo` request fails with `invalid_token (invalid DPoP key binding)`.  Looking into the server side more closely, it appears that the `userinfo` request does have a DPoP signature, but i

[2021-09-20 20:18] panva commented on #406
For the record, there's no need for these two libraries to interoperate all the time. openid-client simply implemented draft-01 that it also linked to from the readme.

[2021-09-20 20:19] #406 closed

[2021-09-20 20:55] bifurcation commented on #406
Ah, sorry, I missed in the documentation that this library was still on draft-01.  In any case, thanks for the quick action!

[2021-09-21 09:51] MonoAnji commented on #403
The solution for using open-id-client with sveltekit seems to be to specify the module in the dependency section in package.json rather than in devDependencies. That might be obvious to other people, but I didn't know. I tried that but it caused other problems, which can be resolved by specifying jose (at this point in time 2.0.5) as a dependency too.

Cheers and thanks for the hind that it's a se

[2021-10-21 14:10] PaulSzymanski opened #416 "Client is not a constructor. Erroneous typescript definition. Misleading docs."
**Describe the bug**
The TS definition exposes the Client constructor. However, the Client constructor is only accessible on an Issuer instance.

Hence TS will not complain if you write `new Client(clientMetadata)`.

Also the [docs are misleading](https://github.com/panva/node-openid-client/tree/main/docs#new-clientmetadata-jwks-options).

**To Reproduce**
[code]

**Expected behaviour**
Either TS

[2021-10-21 16:34] panva commented on #416
I find nothing misleading about the docs, all examples show how to obtain the Client constructor. That the types are messed up is a pity, PR is welcome, they've been like this since their inclusion two years ago. Not a big deal IMHO since all the docs show the correct way of instantiating a Client.

[2021-10-21 16:34] #416 closed

[2021-10-28 18:17] HitkoDev opened #420 "v5.x doesn't work with some providers"
**Describe the bug**
Some OAuth providers (notably `login.microsoftonline.com`) don't accept requests with `Transfer-encoding: chunked`, which is the default behaviour in NodeJS unless `content-length` header is provided.

**To Reproduce**
Steps to reproduce the behaviour:

[code]

**Expected behaviour**
Returns request response.

**Actual behaviour**
Throws `OPError: expected 200 OK, got: 404 Not

[2021-10-28 19:04] #420 closed, assigned to nobody

[2021-11-04 23:40] S0c5 opened #424 "Typescript compilation fails: does not satisfy the constraint"
**Describe the bug**
Wrong types for HttpOptions, in this case the `lookup` option should be removed to make it work, but the latest package doesnt compile

[code]

**To Reproduce**

Steps to reproduce the behaviour:

1.  try to compile the project with the latest typescript version 4.4.4

**Expected behaviour**

That the library compiles

**Environment:**
 - openid-client version: 5.0.2
 - node v

[2021-11-05 06:43] panva commented on #424
The inclusion of lookup is very much intended. You just have to update your @types/node package.

[2021-11-05 06:43] #424 closed

[2021-11-12 19:29] lexyfeitopayrix opened #427 "index.d.ts causing build error."
**Describe the bug**
When running `tsc` to build the project I get a build error coming from `openid-client/types/index.d.ts`.

``
node_modules/openid-client/types/index.d.ts:15:5 - error TS2344: Type '"timeout" | "lookup" | "headers" | "key" | "ca" | "cert" | "passphrase" | "pfx" | "agent" | "crl"' does not satisfy the constraint '"ho
st" | "path" | "auth" | "timeout" | "headers" | "key" | "metho

[2021-11-12 19:38] panva commented on #427
Update your @types/node.

[2021-11-12 19:38] #427 closed

[2021-11-12 19:39] panva commented on #427
Also. A duplicate of #424

[2021-11-17 19:15] r0und opened #429 "Node 17.x support"
**Describe the bug**
yarn install won't continue.

**To Reproduce**
Issuer and Client configuration: (inline or gist) - Don't forget to redact your secrets.
[code]

Steps to reproduce the behaviour:

1.  yarn install

**Expected behaviour**
No errors.

**Environment:**
 - openid-client version: [5.0.2]
 - node version: [17.0.1]

**Additional context**
No.

 - [x] the bug is happening on latest ope

[2021-11-17 19:29] panva commented on #429
This is intended. Only LTS releases listed in engines are supported.

[2021-11-17 19:29] #429 closed

[2021-11-17 19:30] r0und commented on #429
Understood, thank you!

[2021-11-26 22:01] lecoqlibre opened #431 "Using within a create-react-app give a "classPrivateProperties isn't currently enabled" error"
Hi, when I try to use this library within a new [Create React App](https://github.com/facebook/create-react-app) project I get the following error :

`/node_modules/openid-client/lib/client.js: Support for the experimental syntax 'classPrivateProperties' isn't currently enabled (163:3)`

It seems that you are publishing experimental features on npm.

Is that intentional? Please consider reading th

[2021-11-26 22:03] #431 closed

[2021-11-26 22:04] panva commented on #431
There's nothing experimental and this is a Node.js only package.

[2021-12-01 10:56] Luzgan opened #433 "Typescript - reference to dom and AbortSignal"
**Describe the bug**
Typescript having problems with AbortSignal types, which I believe is a type from dom types. From what I see it was added in https://github.com/panva/node-openid-client/commit/2c1d2ab71fe2daba2dad23af1f92f66c92305df5 and removed in https://github.com/panva/node-openid-client/commit/d69af6fe28eb93dca8babad520d5e763aff7e6ff#diff-093ad82a25aee498b11febf1cdcb6546e4d223ffcb49ed69cc

[2021-12-01 16:26] panva commented on #433
`AbortSignal` is added as a global in Node.js 16, bumping your @types/node to 16.x will help out. I don't think I can make it so that you can stay on older versions.

[2021-12-01 16:26] #433 closed

[2021-12-01 18:08] Luzgan commented on #433
Hm. Bumping types to 16, while using 12 seems wrong. I guess you should update readme, with a mention that node 16 is supported, nothing below.

[2021-12-01 18:23] panva commented on #433
The supported runtimes are correct as-is. @types/node is not a runtime.

[2021-12-01 18:24] Luzgan commented on #433
Fair enough, but maybe mention typescript problem at least :)

[2021-12-03 11:42] awesomelike opened #434 "did not find expected authorization request details in session"
**Describe the bug**

I am using Passport strategy of this library, with express-session Redis store.
`did not find expected authorization request details in session ` when the app is deployed. I have set the correct domain for cookie settings.
What are the possible causes if this problem?

[2021-12-06 21:01] Morriz opened #438 "NODE_EXTRA_CA_CERTS not honored"
**Describe the bug**

The `NODE_EXTRA_CA_CERTS` option seems not to be honored by openid-client. Other client libs (like `node-fetch`) work just fine with it but this one doesn't. Strangely, setting the agent's `ca:` with the same content also does nothing and still gives the `DEPTH_ZERO_SELF_SIGNED_CERT` error.

I hope this rings a bell and I don't have to present a repro setup, as that involves

[2021-12-06 21:15] panva commented on #438
@Morriz there is nothing in the code that I am aware of that would prevent either `NODE_EXTRA_CA_CERTS` process.env or the `ca` option to work.

It doesn't ring a bell and is very peculiar, please present a repro setup.

[2021-12-07 10:11] Morriz commented on #438
It must be an upstream issue as I now see it in other libs as well. I am testing with `curl  --cacert` pointing to the extra CA file, which works fine, but pointing `NODE_EXTRA_CA_CERTS` to the same file does nothing.

[2021-12-07 10:11] #438 closed

[2021-12-20 10:13] soanaphikeste opened #443 "Timeout 0 not accepted"
**Describe the bug**
When setting the global timout to 0, it remains at the default value even though 0. This is normally an accepted value that would disable the timeout completely.

**To Reproduce**
Issuer and Client configuration: (inline or gist) - Don't forget to redact your secrets.
[code]

Steps to reproduce the behaviour:

2. Set the global timeout option to 0
2.  Call an extremely slow se

[2021-12-20 10:38] panva commented on #443
If you change the pick function to `if (object[path] !== undefined) {`, do you observe the expected behaviour?

[2021-12-20 10:46] soanaphikeste commented on #443
Yes, that produces the expected behavior

[2021-12-20 11:51] #443 closed

[2021-12-20 20:52] lucasgonze opened #447 "Failure on node 17.x.x because of engines spec in package.json"
**Describe the bug**

Use openid-client@5.1.0 in a context with Node 17.x.x and engines-strict. You'll get this error:

`The engine "node" is incompatible with this module. Expected version "^12.19.0 || ^14.15.0 || ^16.13.0". Got "17.1.0"`

(I note that getting an error instead of a warning means that engines-strict is being set in the CI, probably. If you decide that 17.x.x is incompatible or not

[2021-12-20 20:56] panva commented on #447
Please see v5.x release notes. This is in place very much on purpose as I only intend to support Node.js LTS releases.

[2021-12-20 20:56] #447 closed

[2021-12-20 21:04] lucasgonze commented on #447
Ok, understood. I'll upgrade to v18 ;)

[2021-12-20 21:11] panva commented on #447
v18 goes LTS in October 2022, that's when v18 will be added to engines.

[2021-12-20 21:35] lucasgonze commented on #447
It's not your intention to disallow non-LTS versions, only to limit version-specific fixes to LTS versions, right?

There is a conflict with yarn's policy of strict mode: https://github.com/yarnpkg/rfcs/pull/69 . That is, openid-client will always fail for an odd-numbered version of Node when installed using Yarn (but not npm).

[2021-12-20 23:36] lucasgonze commented on #447
I have tested a workaround: setting engineStrict to false. This worked. If this is in sync with your intentions, here is a PR:

https://github.com/panva/node-openid-client/pull/448

[2021-12-21 07:50] panva commented on #447
If you want yarn to install despite the lack of support for the engine, use yarn's --ignore-engines.

I have stated before that the engines entry is deliberate and intentional.

[2022-01-10 23:45] lucasgonze opened #452 ""The engine "node" is incompatible with this module""
**Describe the bug**

`yarn run test` fails for Node 13, 15, 17

**To Reproduce**

Steps to reproduce the behaviour:

1.  git clone git@github.com:panva/node-openid-client.git && cd node-openid-client
2.  yarn run test
`*error openid-client@5.1.1: The engine "node" is incompatible with this module. Expected version "^12.19.0 || ^14.15.0 || ^16.13.0". Got "12.7.0"*`

**Expected behaviour**

node-op

[2022-01-10 23:54] panva commented on #452
openid-client has not used node-jose for quite some time now.

The engines entry is very much deliberate.

It works in all versions of node intended - active and maintenance lts releases, as made clear by the engines entry.

[2022-01-10 23:54] #452 closed

[2022-01-13 05:53] sharmmoh1983 opened #454 "JWT not active yet, now 1642051718, nbf 1642051719: Id token Validation"
While trying to validate the id token in callback , we are getting following error
JWT not active yet, now 1642051718, nbf 1642051719

I think   In id_token IDP  round the nbf up, but  open id connect  round the time down
Can i add  add 1 sec to make it work consistantly...

**To Reproduce**
Issuer and Client configuration: (inline or gist) - Don't forget to redact your secrets.
[code]

Steps to r

[2022-01-13 07:31] panva commented on #454
https://github.com/panva/node-openid-client/blob/main/docs/README.md#customizing-clock-skew-tolerance

Please refer to documentation and existing issues/discussions before opening an issue.

[2022-01-13 07:31] #454 closed

[2022-01-13 07:38] sharmmoh1983 commented on #454
Thanks for the response .. Documentation was not clear enough to correlate the issue

[2022-01-20 14:36] david753951 opened #460 "Module parse failed: Unexpected character '#'"
I have a VueJS application that I'm trying to use the node-openid-client to be authenticated through a third-party.

I get the error from the title when I try to build the application

That's my VueJS code, a simple new page
`<template>
  <div class="newlogin"></div>
</template>

<script>
import axios from "axios";
import { Issuer } from 'openid-client';

export default {
  data() {
    return {

[2022-02-03 09:06] frederik opened #466 "OIDC JWK endpoint expects application/jwk-set+json but only gets accept application/json (406 Not Acceptable)"
**Describe the bug**

The jwk endpoint to retrieve the JWK sets seems to usually accept _application/json_ as an accept header.
However, some OIDC provider implementations explicitly expect Accept: 'application/jwk-set+json' (which is [valid ](https://datatracker.ietf.org/doc/html/rfc7517) for JWKS according to the spec). As a result they send back a _406 Not Acceptable_.

Other libraries seem to

[2022-02-03 09:36] panva commented on #466
Feel free to open a PR, I'll have a look at it!

[2022-02-03 13:43] #466 closed

[2022-02-09 19:52] Yasamato opened #470 "Include node 17 as supported engine"
Bump supported engine versions for [node 17](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V17.md).
https://github.com/panva/node-openid-client/blob/444e770563a36e6efc82cbee5889973f2db4f86e/package.json#L74

[2022-02-09 20:11] panva commented on #470
#452 #447 #429

[2022-02-09 20:11] #470 closed

[2022-02-09 20:17] Yasamato commented on #470
Oh haven't read that part:

my bad :)

[2022-02-16 15:59] BirknerAlex opened #472 "Jose Update required?"
**Describe the bug**

Trying to build openid-client on Cloudflare Workers inside a NuxtJS 3 SSR application but it fails with the following error:

[code]

Jose natively supports Cloudflare Workers but it seems it requires Jose 5 instead of 4, openid-client requires Jose 4 at the moment.

Building NuxtJS 3 without Cloudflare Workers preset works fine.

**Expected behaviour**

openid-client works o

[2022-02-16 16:04] panva commented on #472
openid-client does not support runtimes other than Node.js

[2022-02-16 16:04] #472 closed

[2022-02-28 12:29] Gumbee opened #474 "RPError in kubernetes production environment"
**Describe the bug**
When using node-openid-client with passport and node-oidc-provider as provider, passport fails to authenticate (and it seems the verify callback is never even called) and contains data of the form {"name": "RPError", "jwt": "somejwtdata"} inside the callback of passport's authenticate. This however only occurs when the applications are deployed to production (we are using a ku